
<div class="modal" id="editSuccessful">

  <div class="modal-content">
    <button class="close" style="font-size: 15px;" (click)="closeModal('editSuccessful')">Close</button>
    <br/>
    {{modalMessage}}
  </div>
</div>

<div class="left-buttons">
  <button id="editCourseSubmitButton" class="glyphicon glyphicon-edit" *ngIf="isInEditingMode == true" (click)="editCourse(titleEdited.value, overviewEdited.value)"> Edit</button>
  <button id="cancelEditing" class="glyphicon glyphicon-remove-sign" *ngIf="isInEditingMode == true" (click)="exitEditingMode()"> Cancel</button>

</div>
<div   id="mainDiv" class="mainDiv" xmlns="http://www.w3.org/1999/html">
  <div class="vertical-menu">
    <a class="nav-link js-scroll-trigger"
       href="{{rootConst.FRONT_DETAILED_COURSE}}/{{course.idCourse}}#{{rootConst.FRONT_OVERVIEW_SECTION}}"
       target="_self"
       name="overview"
       data-target="{rootConst.FRONT_OVERVIEW_SECTION}}" (click)="selectSection('overview')">Overview</a>


    <a class="nav-link js-scroll-trigger"
       href="{{rootConst.FRONT_DETAILED_COURSE}}/{{course.idCourse}}#{{rootConst.FRONT_SYLLABUS_SECTION}}"
       target="_self"
       name="syllabus"
       data-target="{rootConst.FRONT_SYLLABUS_SECTION}}" (click)="selectSection('syllabus')">Syllabus</a>


    <a class="nav-link js-scroll-trigger"
       href="{{rootConst.FRONT_DETAILED_COURSE}}/{{course.idCourse}}#{{rootConst.FRONT_OWNER_SECTION}}"
       target="_self"
       name="owner"
       data-target="{rootConst.FRONT_OWNER_SECTION}}" (click)="selectSection('owner')">Owner</a>


    <a class="nav-link js-scroll-trigger"
       href="{{rootConst.FRONT_DETAILED_COURSE}}/{{course.idCourse}}#{{rootConst.FRONT_CONTACT_PERSON_SECTION}}"
       target="_self"
       name="constantPerson"
       data-target="{rootConst.FRONT_CONTACT_PERSON_SECTION}}" (click)="selectSection('constantPerson')">Contact
      person</a>


    <a class="nav-link js-scroll-trigger"
       href="{{rootConst.FRONT_DETAILED_COURSE}}/{{course.idCourse}}#{{rootConst.FRONT_RATINGS_REVIEW_SECTION}}"
       target="_self"
       name="ratingsAndReview"
       data-target="{rootConst.FRONT_RATINGS_REVIEW_SECTION}}" (click)="selectSection('ratingsAndReview')">Ratings and
      review</a>

  </div>

  <div id="courseDetails" data-target="#mainDiv">
    <button id="enrollButton" *ngIf="isEnrolled == false" (click)="enrollUserToCourse()" ><span class="glyphicon glyphicon-check"></span> Enroll</button>
    <button id="alreadyEnrolled" *ngIf="isEnrolled == true" (click)="unenrollUserFromCourse()"><span class="	glyphicon glyphicon-ok"></span> Already enrolled</button>
    <button id="editCourse" (click)="editCourseMode()"><span class="glyphicon glyphicon-edit"> </span> Edit Course

    </button>
    <br><br><br>
    <div class="titleDiv">{{course.titleCourse}}
      <br/>
      <input type="text" #titleEdited name="title" #titleEdited id="titleEdited" style="font-size:20px;"/>

    </div>
    <hr class="style2"/>
    <section id="{{rootConst.FRONT_OVERVIEW_SECTION}}" class="sectionStyle">
      <p class="sectionTitle">Overview</p>
      <p>
        {{ course.overview.substring(0,150)}} ...
      </p>
      <p>
        <details>
          <summary>More details</summary>
          {{ course.overview }}
        </details>
      </p>


      <textarea id="overviewTextBox" #overviewEdited style="visibility: hidden" rows="1" cols="180">{{course.overview}}
        </textarea>
    </section>

    <section id="{{ rootConst.FRONT_SYLLABUS_SECTION }}"  class="sectionStyle">
      <p class="sectionTitle">Syllabus</p>

      <p>
        <details>
          <summary>More details</summary>

          <div class="tableStyleSyllabus">

            <table class="table table-inverse">
              <tbody>
              <tr *ngFor="let  subject of course.subjects ">
                <ul style="padding-right: 30px" *ngFor="let  material of subject.materials ">

                  <ul *ngIf="material.materialType === 'LINK'">
                    <td><a href="{{material.link}}" target="_blank">{{material.title}}</a></td>
                    <td style="padding-left: 20px"> {{material.description}}</td>
                  </ul>
                  <ul *ngIf="material.materialType === 'FILE'">
                    <td>{{material.title}}
                      <a class="glyphicon glyphicon-download" title="Download source" download="name.txt"
                         (click)="downloadFile(material.idMaterial, material.title)"> </a></td>
                    <td style="padding-left: 20px">{{material.description}}</td>
                  </ul>
                </ul>
                <td>
                </td>
              </tr>
              <br><br>
              </tbody>
              </table>

            </div>
        </details>
      </p>
    </section>

    <section id="{{ rootConst.FRONT_OWNER_SECTION }}" class="sectionStyle">
      <p class="sectionTitle">Owners</p>
      <details>
        <summary>More details</summary>
        <div class="tableStyle">
        <table class="table table-inverse">
          <tbody>
          <tr *ngFor="let owner of course.owners ">
            <td>{{owner.name}}</td>
            <td>{{owner.email}}</td>
            <td>{{owner.username}}</td>
          </tr>
          </tbody>
        </table>
          </div>
      </details>
    </section>

    <section id="{{ rootConst.FRONT_CONTACT_PERSON_SECTION }}"  class="sectionStyle">
      <p class="sectionTitle">Contact Persons</p>
      <details>
        <summary>More details</summary>
        <div class="tableStyle">
        <table class="table table-inverse">
          <tbody>
          <tr *ngFor="let contactPerson of course.contactPersons ">
            <td>{{contactPerson.name}}</td>
            <td>{{contactPerson.email}}</td>
            <td>{{contactPerson.username}}</td>
          </tr>
          </tbody>
        </table>
          </div>
      </details>
    </section>

    <section id="{{ rootConst.FRONT_RATINGS_REVIEW_SECTION}}" class="sectionStyle">
      <p class="sectionTitle"> Ratings</p>
      <details>
        <summary>More details</summary>
        <p>All content and graphics on this web site are the property of the company Refsnes Data.</p>
        <p> - by Refsnes Data. All Rights Reserved.</p>
        <p>All content and graphics on this web site are the property of the company Refsnes Data.</p>
        <p> - by Refsnes Data. All Rights Reserved.</p>
        <p>All content and graphics on this web site are the property of the company Refsnes Data.</p>
        <p> - by Refsnes Data. All Rights Reserved.</p>
        <p>All content and graphics on this web site are the property of the company Refsnes Data.</p>
        <p> - by Refsnes Data. All Rights Reserved.</p>
        <p>All content and graphics on this web site are the property of the company Refsnes Data.</p>
        <p> - by Refsnes Data. All Rights Reserved.</p>
        <p>All content and graphics on this web site are the property of the company Refsnes Data.</p>
        <p> - by Refsnes Data. All Rights Reserved.</p>
        <p>All content and graphics on this web site are the property of the company Refsnes Data.</p>
        <p> - by Refsnes Data. All Rights Reserved.</p>
        <p>All content and graphics on this web site are the property of the company Refsnes Data.</p>
        <p> - by Refsnes Data. All Rights Reserved.</p>
        <p>All content and graphics on this web site are the property of the company Refsnes Data.</p>
        <p> - by Refsnes Data. All Rights Reserved.</p>
        <p>All content and graphics on this web site are the property of the company Refsnes Data.</p>
        <p> - by Refsnes Data. All Rights Reserved.</p>
        <p>All content and graphics on this web site are the property of the company Refsnes Data.</p>
        <p> - by Refsnes Data. All Rights Reserved.</p>
        <p>All content and graphics on this web site are the property of the company Refsnes Data.</p>
        <p> - by Refsnes Data. All Rights Reserved.</p>
        <p>All content and graphics on this web site are the property of the company Refsnes Data.</p>
        v<p> - by Refsnes Data. All Rights Reserved.</p>
        <p>All content and graphics on this web site are the property of the company Refsnes Data.</p>
        <p> - by Refsnes Data. All Rights Reserved.</p>
        <p>All content and graphics on this web site are the property of the company Refsnes Data.</p>
        <p> - by Refsnes Data. All Rights Reserved.</p>
        <p>All content and graphics on this web site are the property of the company Refsnes Data.</p>
        <p> - by Refsnes Data. All Rights Reserved.</p>
        <p>All content and graphics on this web site are the property of the company Refsnes Data.</p>
        <p> - by Refsnes Data. All Rights Reserved.</p>
        <p>All content and graphics on this web site are the property of the company Refsnes Data.</p>
      </details>

    </section>

  </div>


</div>
