<div class="defaultDiv">

  <ul *ngFor="let  material of subject.materials ">
    <br/>
    <div class="materialDiv">

      <ul *ngIf="material.materialType === 'LINK'">
        <div class="materialTitle">{{material.title}}
        </div>

        <br/>
        <div class="aboutTheMaterial">
          {{material.description}}
        </div>
        <p class="linkStyle">Link: </p>
        <hr class="separator">

        <a href="{{material.link}}" target="_blank" class="linkStyle"> {{material.title}}</a>
      </ul>

      <ul *ngIf="material.materialType === 'FILE'">
        <div class="materialTitle">{{material.title}}
        </div>

        <div class="aboutTheMaterial">
          {{material.description}}
        </div>
        <p class="linkStyle"> File: </p>
        <hr class="separator">
        <a class="glyphicon glyphicon-download" title="Download source" download="name.txt"
           (click)="downloadFile(material.idMaterial)"> </a>

      </ul>
      <br/>
    </div>
  </ul>


</div>
<br/>
<br/><br/>
<br/>

