<head>
  <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
</head>
<div class="defaultDiv">


  <div class="subjectTitle">
    Subject: {{subject.name}}

  </div>

  <ul *ngFor="let  material of subject.materials ">
    <br/>
    <div class="materialDiv">

      <ul *ngIf="material.materialType === 'LINK'">
        <div class="materialTitle">{{material.title}}
        </div>

        <br/>
        <div class="aboutTheMaterial">
          {{material.description}}
        </div>
        <p class="linkStyle">Link: </p>
        <hr class="separator">

        <a href="{{material.link}}" target="_blank" class="linkStyle"> {{material.title}}</a>
      </ul>

      <ul *ngIf="material.materialType === 'FILE'">
        <div class="materialTitle">{{material.title}}
        </div>

        <div class="aboutTheMaterial">
          {{material.description}}
        </div>
        <p class="linkStyle"> File: </p>
        <hr class="separator">
        <a class="glyphicon glyphicon-download" title="Download source" download="name.txt"
           (click)="downloadFile(material.idMaterial)"> </a>

      </ul>
      <br/>
    </div>
  </ul>

  <div id="finish" *ngIf="!isSubjectFinished">

    <button class="buttonFinished"  (click)="markAsFinish(subject)">Finish Subject</button>

  </div>


</div>
<br/>
<br/><br/>
<br/>

<div class="modal" id="subjectFinished">
  <div class="modal-content">

    <br/>
    <span class="fa fa-check" *ngIf="!hasAnotherSubject">


    </span>
    {{modalMessage}}
    <br/>
    <br/>
    <button class="close" id="closeModalButton"  (click)="utilityService.closeModal('subjectFinished')"><span class="	fa fa-times-circle-o"></span> Close</button>
    <div *ngIf="hasAnotherSubject==true">
   <button class="GoToNext"> <a href="http://localhost:4200/courses/detailedCourse/{{courseId}}/subject/{{nextSubjectID}}"><span class="	fa fa-mail-forward"></span>Go to next subject!</a>

   </button>
    </div>
    <div *ngIf="hasAnotherSubject==false">
     <button class="GoToNext" ></button> <a href="http://localhost:4200/courses/detailedCourse/{{courseId}}">Go back!</a>
    </div>
</div>
</div>
