<div class=" left-div">
  <div class="input-group">
    <input #searchBox id="search-box" (keyup)="search(searchBox.value)"
           class="inputText" type="text" class="form-control" placeholder="Search"/>
    <span class="input-group-addon transparent"><span class="glyphicon glyphicon-search"></span></span>
  </div>
  <br/>

  <table id="sorter">
    <thead><label>Sort by:</label></thead>
    <tr>
      <td><label>Most popular courses</label></td>
      <td><input name="option" type="radio"/></td>
    </tr>
    <tr>
      <td>
        <label>Best rated courses</label>
      </td>
      <td>
        <input name="option" type="radio"/>
      </td>
    </tr>
  </table>


</div>

<div  class="right-div" *ngIf="searchBox.value.length>0" detect-scroll (onScroll)="handleScroll($event)">

  <mat-spinner strokeWidth="10%" [diameter]="100" *ngIf="coursesListEmpty==true" style="margin-top: 150px;left: 35%; font-size: large;"></mat-spinner>
  <div  class="div-courses" *ngFor="let course of coursesSearched$ | async " (click)="search('first')">

    <div class="titleClass" routerLink="{{rootConst.FRONT_DETAILED_COURSE }}/{{course.idCourse}}">
      {{course.titleCourse}}

      <hr class="separator">
    </div>

    <mat-chip-list #chipList *ngIf="course.keywords!=null" class="keyword-list">
      <mat-chip (click)="searchByKeyword(keyword)" *ngFor="let keyword of course.keywords.split(' ')">{{keyword}}</mat-chip>
    </mat-chip-list>



    <br/>
    <br/>

    <div class="description">
      {{course.overview.substring(0,150)}} ...
      <br/>
      <div class="deleteCourseDiv">
        <button (click)="deleteCourses(course.idCourse)" id="buttonDeleteCourses">Delete</button>
      </div>
      <div class="details">
        <a routerLink="{{rootConst.FRONT_DETAILED_COURSE }}/{{course.idCourse}}">Click for more details</a>
      </div>
    </div>
    <br/><br/><br/>

  </div>

  <br/>
</div>


<div class="right-div" *ngIf="searchBox.value.length<=0"  detect-scroll (onScroll)="handleScroll($event)">
  <mat-spinner strokeWidth="10%" [diameter]="100" *ngIf="coursesListEmpty==true" style="margin-top: 150px;left: 35%; font-size: large;"></mat-spinner>
  <div class="div-courses" *ngFor="let cc of courses ">

    <span>{{cc.idCourse}}</span>
    <div class="titleClass" routerLink="{{rootConst.FRONT_DETAILED_COURSE }}/{{cc.idCourse}}">
      {{cc.titleCourse}}
      <hr class="separator">
    </div>

    <mat-chip-list class="mat-chip-list" *ngIf="cc.keywords!=null">
      <mat-chip (click)="searchByKeyword(keyword)" *ngFor="let keyword of cc.keywords.split(' ')">{{keyword}}</mat-chip>
    </mat-chip-list>

    <br/>

    <div class="description" >
      {{cc.overview.substring(0,350)}}...
    </div>
    <br/>
    <br/>

    <div class="deleteCourseDiv">
      <button (click)="deleteCourses(cc.idCourse)" id="buttonDeleteCourses">Delete</button>
    </div>
    <div class="details">
      <a routerLink="{{rootConst.FRONT_DETAILED_COURSE }}/{{cc.idCourse}}">Click for more details</a>
    </div>
  </div>
  <br/><br/>


  <br/>

</div>
<div class="modal" id="delete">
  <div class="modal-content">
    <button class="close" style="font-size: 15px;"id="closeModalButton" (click)="utilityService.closeModal('delete')">Close</button>
    <br/>
    {{messageDeleteCourse}}
  </div>
</div>
