h1 {
  color: #e21e11;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}

h2, h3 {
  color: #2e35fb;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

input[text], button {
  font-family: Cambria, Georgia;
}

.left-div {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 100px;
  margin-top: 100px;
  text-align: left;
  background-color: #841439;
  width: 250px;
  height: 200px;
  float: left;
  position: fixed;
  padding: 20px;
  border: 3.2px solid white;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.right-div {
  margin-top: 50px;
  margin-left: 450px;
  /*width: 1100px;*/
  height: 100%;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
}

.inputText {
  margin-left: 0px;
  width: 130px;
  position: relative;
  border: 1px solid #010908;
  border-radius: 3px;
}

.div-courses {
  color: #010908;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: white;
  border: 3.5px solid #841439;
  border-radius: 8px;
  width: 420px;
  height: 300px;
  max-height: 300px;
  margin-bottom: 30px;
  margin-right: 30px;
  display: inline-table;
  min-height: 300px;
  position: relative;
}

.titleClass {
  color: #010908;
  font-family: "Times New Roman";
  font-size: x-large;
  font-weight: bold;
  padding: 20px;
  text-align: center;

}

.titleClass:hover {
  text-decoration: underline;
  color: #841439;
}

* {
  font-family: Arial, Helvetica, sans-serif;
}

.editProfile {
  color: #010908;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  margin-top: 100px;
  margin-left: 100px;
  width: 85%;
  height: 85%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: rgb(225, 252, 255);
  border: 1px solid #010908;
  border-radius: 8px;
}

.editProfileButton {
  margin-top: 14px;
  margin-left: 1680px;
}

.field-wrap {
  position: relative;
  margin-bottom: 40px;
  padding-left: 2em;
}

.modal {
  margin: auto;
  display: none;
  position: fixed;
  width: 75%;
  height: 100%;
  overflow: auto;

}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 15px;
  border: 1px solid #888;
  width: 500px;
}

/* The Close Button */
.close {
  color: #0e0008;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #da0107;
  text-decoration: none;
  cursor: pointer;
}

.summary {
  color: #841439;
  font-weight: bold;
  padding: 5px;

}

.separator {
  border-top: 1px solid #8c8b8b;
}

.description {
  margin-left: 10px;
}

.details {
  position: absolute;
  bottom: 0;
  right: 10px;
  bottom: 10px;

  font-weight: bold;
}

.deleteCourseDiv{
  position: absolute;
  bottom: 0;
  left: 10px;
  bottom: 10px;
  font-weight: bold;
}
#sorter {
  border-spacing: 10px;
  border-collapse: separate;
}

#buttonDeleteCourses{
  margin-left: 10px;
  background: white;
  color:#6d6c6c;
  border:none;


}
mat-spinner svg  circle{
  stroke: #6d6c6c;
}
