.btn-add-user {
    background-color: #841439;
    color: #fff;
    width: 45%;
    height: 40px;
    align-content: center;
    text-align: center;
    display: block;
    margin-top: 2%;
    margin: 0 auto;
}

.dialog-got-it-button {
    background-color: rgba(20, 109, 129, 0.6);
    color: #fff;
    width: 20%;
    height: 30px;
    position: relative;
    text-align: center;
    margin-top: 0px;
    margin-left: 0px;
}