<h4>Add a new user</h4>
<div style="margin-left: 10px;">
  <form>
    <mat-form-field class="formField">
      <input matInput placeholder="First name" [ngModelOptions]="{standalone: true}" [(ngModel)]="firstName">
    </mat-form-field>

    <mat-form-field class="formField">
      <input matInput placeholder="Last name" [ngModelOptions]="{standalone: true}" [(ngModel)]="lastName">
    </mat-form-field>

    <mat-form-field class="formField">
      <input matInput placeholder="Username" [ngModelOptions]="{standalone: true}" [(ngModel)]="user.username">
    </mat-form-field>

    <mat-form-field class="formField">
      <input matInput placeholder="Personal email" [ngModelOptions]="{standalone: true}" [(ngModel)]="user.email">
    </mat-form-field>

    <mat-form-field class="formField">
      <input matInput placeholder="Msg email" [ngModelOptions]="{standalone: true}" [(ngModel)]="user.msgMail">
    </mat-form-field>


    <mat-form-field class="formField">
      <mat-select class="formField" placeholder="Role" (selectionChange)="selectRoleValue($event)">
        <mat-option *ngFor="let roleValue of roles" [value]="roleValue">
          {{roleType[roleValue]}}
        </mat-option>
      </mat-select>
    </mat-form-field>


    <!--<div>-->
    <!--<ng-container buddy-dropdown-directive></ng-container>-->
    <!--</div>-->
    <!--<div>-->
    <!--<label for="FirstName">First Name</label>-->
    <!--<input #FirstName type="text" [(ngModel)]="firstName" [ngModelOptions]="{standalone: true}"-->
    <!--placeholder="FirstName" class="form-control" id="FirstName"/>-->
    <!--</div>-->
    <!--<div>-->
    <!--<label for="LastName">Last Name</label>-->
    <!--<input #LastName type="text" [(ngModel)]="lastName" [ngModelOptions]="{standalone: true}" placeholder="LastName"-->
    <!--class="form-control" id="LastName"/>-->
    <!--</div>-->
    <!--<br>-->
    <!--<div>-->
    <!--<label style='width: 70%'>-->
    <!--<input #LastName type="text" [(ngModel)]="user.username" [ngModelOptions]="{standalone: true}" placeholder="Username"-->
    <!--class="form-control" id="Username"/>-->
    <!--</label>-->
    <!--</div>-->
    <!--<br>-->
    <!--<div>-->
    <!--<label for="Email">Email address</label>-->
    <!--<input #Email type="text" [(ngModel)]="user.email" [ngModelOptions]="{standalone: true}" placeholder="user@email"-->
    <!--class="form-control" id="Email"/>-->
    <!--</div>-->
    <!--<div class>-->
    <!--<label for="msgMail">.msg email</label>-->
    <!--<input #msgEmail type="text" [(ngModel)]="user.msgMail" [ngModelOptions]="{standalone: true}"-->
    <!--placeholder=".msg email" class="form-control" id="msgMail" [value]="user.msgMail"/>-->
    <!--</div>-->
    <!--<div class="form-group">-->
    <!--<label>Role</label>-->
    <!--<mat-select placeholder="Select role" (selectionChange)="selectRoleValue($event)">-->
    <!--<mat-option *ngFor="let roleValue of roles" [value]="roleValue">-->
    <!--{{roleType[roleValue]}}-->
    <!--</mat-option>-->
    <!--</mat-select>-->
    <!--</div>-->
    <app-user-info-formular></app-user-info-formular>
  </form>
  <button id="addUser" class="btn-add-user" (click)="addUser()">ADD USER</button>
</div>


