.btn-add-user {
    background-color: #841439;
    color: #fff;
    width: 45%;
    height: 40px;
    align-content: center;
    text-align: center;
    display: block;
    margin: 0 auto;
}

.hint-text {
    color: #841439;
    font-family: "Times New Roman", Times, serif;
    font-size: 90%;
}