<h2 mat-dialog-title>Add a new user</h2>
<div mat-dialog-content>
    <div style="height: 560px;">
        <form>
            <div>
                <label for="FirstName">First Name</label>
                <input #FirstName type="text" [(ngModel)]="firstName" [ngModelOptions]="{standalone: true}" placeholder="FirstName" class="form-control" id="FirstName" />
            </div>
            <div>
                <label for="LastName">Last Name</label>
                <input #LastName type="text" [(ngModel)]="lastName" [ngModelOptions]="{standalone: true}" placeholder="LastName" class="form-control" id="LastName" />
            </div>
            <br>
            <div>
                <label>USERNAME: {{ firstName }}{{ lastName }}</label>
            </div>
            <br>
            <div>
                <label for="Email">Email address</label>
                <input #Email type="text" [(ngModel)]="user.email" [ngModelOptions]="{standalone: true}" placeholder="user@email" class="form-control" id="Email" />
            </div>
            <div class="form-group">
                <label>Role</label>
                <mat-select placeholder="Select role" (selectionChange)="selectValue($event)">
                    <mat-option *ngFor="let roleValue of roles" [value]="roleValue">
                        {{roleType[roleValue]}}
                    </mat-option>
                </mat-select>
            </div>
            <div class>
                <label for="Team">Team</label>
                <input #Team type="text" [(ngModel)]="userInfo.team" [ngModelOptions]="{standalone: true}" placeholder="Team" class="form-control" id="Team" />
            </div>
            <div>
                <label for="Building">Building</label>
                <input #Building type="text" [(ngModel)]="userInfo.building" [ngModelOptions]="{standalone: true}" placeholder="Building" class="form-control" id="Building" />
            </div>
            <div>
                <label for="Floor">Floor</label>
                <input #Store type="text" [(ngModel)]="userInfo.floor" [ngModelOptions]="{standalone: true}" placeholder="Floor" class="form-control" id="Floor" />
            </div>
            <div>
                <label for="Buddy">Buddy</label>
                <mat-select placeholder="Select buddy" [(value)]="userInfo.buddy">
                    <mat-option *ngFor="let employee of employees" [value]="employee.value">
                        {{ employee.viewValue }}
                    </mat-option>
                </mat-select>
            </div>
        </form>
    </div>
</div>

<div>
    <input [(ngModel)]="userInfo.startDate" matInput [matDatepicker]="picker" placeholder="Choose a date">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <br>
    <label class="hint-text">leave empty if the starting date is unknown</label>
    <mat-datepicker #picker></mat-datepicker>
</div>
<br>
<div>
    <button id="addUser" class="btn-add-user" (click)="addUser()">ADD USER</button>
</div>