<h2 mat-dialog-title>Profile information</h2>
<mat-dialog-content>
    <form>
        <ul>
            <div>
                <i class="fa fa-users icon" aria-hidden="true"></i>
                <label>{{user.username}}</label>
            </div>
            <br>
            <div>
                <li style="margin-left: 30px;">complete name : {{user.name}}</li>
            </div>
            <div>
                <li style="margin-left: 30px;">personal email : {{user.email}}</li>
            </div>
            <div>
                <li style="margin-left: 30px;">msg email : {{user.msgMail}}</li>
            </div>
            <div>
                <li style="margin-left: 30px;">your department : {{userInformation.department}}</li>
            </div>
            <div>
                <li style="margin-left: 30px;">your team : {{userInformation.team}}</li>
            </div>
            <div>
                <li style="margin-left: 30px;">your project : {{userInformation.project}}</li>
            </div>
            <br>
            <div>
                <i class="material-icons" style="margin-left: 30px;"> meeting_room </i>
                <label>your team's location</label>
            </div>

            <li style="margin-left: 50px;">city : {{userInformation.location.locationCity}}</li>

            <li style="margin-left: 50px;">address : {{userInformation.location.locationAddress}}</li>

            <li style="margin-left: 50px;">floor : {{userInformation.floor}}</li>
        </ul>
    </form>
</mat-dialog-content>