h1 {
  color: #e21e11;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
h2, h3 {
  color: #2e35fb;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
body, input[text], button {
  font-family: Cambria, Georgia;
}

.left-div {
  color: #010908;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 100px;
  margin-top: 100px;
  text-align:left;
  background-color:#dcfbff;
  width: 200px;
  float:left;
  position: fixed;
  padding: 20px;
  border: 1px solid #010908;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.right-div{
  margin-top: 50px;
  margin-left: 450px;
  width: 1000px;
  height: 100%;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #e6f4ff;
  border: 1px solid #010908;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.inputText {


  margin-left: 0px;
  width: 100px;
  position: relative;
  border: 1px solid #010908;
  border-radius: 3px;
}

.div-courses{
  color: #010908;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: rgba(179, 144, 226, 0.21);
  border: 1px solid #010908;
  border-radius: 8px;

}

.titleClass{
  color: #010908;
  font-family: "Times New Roman";
  font-size: large;
  font-weight: bold;
  padding: 20px;


}
.div-courses:hover{
  background-color: #bfe6e5;
}
/* everywhere else */
* {
  font-family: Arial, Helvetica, sans-serif;
}


.editProfile{
  color: #010908;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  margin-top: 100px;
  margin-left: 100px;
  width: 85%;
  height: 85%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: rgb(225, 252, 255);
  border: 1px solid #010908;
  border-radius: 8px;


}


.editProfileButton{

  margin-top: 13px;
  margin-left: 1680px;

}
.div-courses:hover{
  background-color: #bfe6e5;
}
/* everywhere else */
* {
  font-family: Arial, Helvetica, sans-serif;
}
.field-wrap {
  position: relative;
  margin-bottom: 40px;
  padding-left:2em;
}
.modal {
  margin: auto;
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  width: 75%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */

}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 15px;
  border: 1px solid #888;
  width: 500px; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #0e0008;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #da0107;
  text-decoration: none;
  cursor: pointer;
}
