<div class="left-div">

  <label>
    Search value: </label><input #searchBox id="search-box" (keyup)="search(searchBox.value)" class="inputText"/>
  <p> This is added for testing purposes</p>
  <p> Some filtering choices</p>

  <label>Overview</label> <input name="option" type="radio"/><br/>
  <label>Syllabus</label> <input name="option" type="radio"/> <br/>
  <label>Most popular courses</label> <input name="option" type="radio"/> <br/>
  <label>Best rated courses</label> <input name="option" type="radio"/><br/>


</div>



<div class="right-div" *ngIf="searchBox.value.length>0">
  <div class="div-courses" *ngFor="let course of coursesSearched$ | async " (click)="search('first')">

    <span class="badge">{{course.idCourse}}</span>



    <div class="titleClass" routerLink="{{rootConst.FRONT_DETAILED_COURSE }}/{{course.idCourse}}" >
      {{course.titleCourse}}
    </div>



    <br/>

    {{course.overview.substring(0,150)}}...

    <details>
      <summary style="color: #ff1514">Read More</summary>
      <p>{{course.overview}}</p>
    </details>
    <br/><br/><br/>

  </div>

  <br/>
</div>





<div class="right-div" *ngIf="searchBox.value.length<=0">
  <div class="div-courses" *ngFor="let course of courses">

      <span class="badge">{{course.idCourse}}</span>
    <div class="titleClass" routerLink="{{rootConst.FRONT_DETAILED_COURSE }}/{{course.idCourse}}" >

      {{course.titleCourse}}

    </div>
    <br/>

    {{course.overview.substring(0,150)}}...

      <details>
        <summary style="color: #ff1514">Read More</summary>
        <p>{{course.overview}}</p>
      </details>
      <br/><br/><br/>

    </div>

    <br/>

</div>

