<div class="left-div">

  <label>
    Search value: </label><input #searchBox id="search-box" (keyup)="search(searchBox.value)" class="inputText"/>
  <p> This is added for testing purposes</p>
  <p> Some filtering choices</p>

  <label>Overview</label> <input name="option" type="radio"/><br/>
  <label>Syllabus</label> <input name="option" type="radio"/> <br/>
  <label>Most popular courses</label> <input name="option" type="radio"/> <br/>
  <label>Best rated courses</label> <input name="option" type="radio"/><br/>


</div>

<div class="right-div" *ngIf="searchBox.value.length>0">
  <a *ngFor="let course of coursesSearched$ | async " (click)="search('first')"
     routerLink="/detailedCourse/{{course.id}}">
    <div class="div-courses">
      <span class="badge">{{course.id}}</span> {{course.overview}}
      <nav>

        <a routerLink="/detailedCourse/{{course.id}}">

        </a>
      </nav>
    </div>
    <br/>
  </a>
</div>

