<div class=" left-div">
  <div class="input-group">
    <input #searchBox id="search-box" (keyup)="search(searchBox.value)"
           class="inputText " type="text" class="form-control" placeholder="Search"/>
    <span class="input-group-addon transparent"><span class="glyphicon glyphicon-search"></span></span>
  </div>
  <br/>

  <table id="sorter">
    <thead><label>Sort by:</label></thead>
    <tr>
      <td><label>Most popular courses</label></td>
      <td><input name="option" type="radio"/></td>
    </tr>
    <tr>
      <td>
        <label>Best rated courses</label>
      </td>
      <td>
        <input name="option" type="radio"/>
      </td>
    </tr>
  </table>

</div>

<div class="right-div" *ngIf="searchBox.value.length>0">

  <div class="div-courses" *ngFor="let course of coursesSearched$ | async " (click)="search('first')">

    <div class="titleClass" routerLink="{{rootConst.FRONT_DETAILED_COURSE }}/{{course.idCourse}}">
      {{course.titleCourse}}
      <hr class="separator">
    </div>
    <br/>
    <div class="description">
      {{course.overview.substring(0,150)}} ...
      <!--<summary class="summary">Read More</summary>-->
      <!--<p>{{course.overview}}</p>-->
      <div class="details">
        <a routerLink="{{rootConst.FRONT_DETAILED_COURSE }}/{{course.idCourse}}">Click for more details</a>
      </div>
    </div>
    <br/><br/><br/>

  </div>

  <br/>
</div>


<div class="right-div" *ngIf="searchBox.value.length<=0">
  <div class="div-courses" *ngFor="let cc of courses ">

    <div class="titleClass" routerLink="{{rootConst.FRONT_DETAILED_COURSE }}/{{cc.idCourse}}">
      {{cc.titleCourse}}
    </div>
    <hr class="separator">
    <br/>


    <div class="description">
      {{cc.overview.substring(0,350)}}...
      <!--<summary class="summary">Read More</summary>-->
      <!--<p>{{cc.overview}}</p>-->
    </div>

    <div class="details">
      <a routerLink="{{rootConst.FRONT_DETAILED_COURSE }}/{{cc.idCourse}}">Click for more details</a>
    </div>

  </div>
  <br/><br/>


  <br/>

</div>

<div class="modal" id="myCustom">

  <div class="modal-content">
    <button class="close" style="font-size: 15px;" (click)="closeModal('myCustom')">Close</button>
    <br/>
    {{successMessage}}
  </div>
</div>

<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <div class="alert alert-danger" [hidden]="message.length==0">
      {{message}}
    </div>
    <button class="close" (click)="closeModal('myModal')">Close</button>
    <br/>
    <br/><br/>


    <table class="table">
      <tr>
        <td><label>Name</label></td>
        <td><input #name type="text" placeholder="Name"/></td>
      </tr>

      <tr>
        <td><label>Email </label></td>

        <td><input #email type="email" ng-model="string" placeholder="Email" required/>
        </td>

      </tr>

      <tr>

        <td><label>Password </label></td>

        <td><input #pass type="password" placeholder="Password"/></td>

      </tr>
      <tr>
        <td><label>Repeat Password </label>
        </td>
        <td>
          <input #passII type="password" placeholder="Repeat password"/>
        </td>
      </tr>

    </table>


    <button class="btn btn-info logOut" (click)="updateUser(name.value, email.value, pass.value,passII.value)">
      <span class="glyphicon  glyphicon-edit"></span> Edit profile
    </button>
  </div>
</div>


