<h2 mat-dialog-title>New Employees</h2>
<mat-dialog-content  style="height:550px">
  <mat-card *ngFor="let userInfo of newEmployees">
    <div *ngIf="userInfo.mailSent==true">
      <i class="material-icons" style="padding: 10px" title="Mail sent">done</i> {{userInfo.userAccount.name}}
    </div>
    <div *ngIf="userInfo.mailSent==false">
      <i class="material-icons" *ngIf="!mailSent"  style="padding: 10px" title="Mail not sent">error_outline</i>{{userInfo.userAccount.name}}
      <br/>
      <button mat-button color="warn" (click)="openUserInfoModal()">Please fill in user data</button>

    </div>


    <button mat-button (click)="openCheckList(userInfo.userAccount)" title="Check list for user">
      Open check list for {{userInfo.userAccount.name}}
    </button>

  </mat-card>
  <br>
</mat-dialog-content>
