<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->
<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
<head></head>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


<div class="modal" id="myCustom">

  <div class="modal-content">
    <button class="close" style="font-size: 15px;" (click)="closeModal('myCustom')">Close</button>
    <br/>
    {{successMessage}}
  </div>
</div>

<div id="myModal" class="modal">

  <div class="modal-content">


    <div class="alert alert-danger" [hidden]="message.length==0">
      {{message}}
    </div>
    <button class="close" (click)="closeModal('myModal')">Close</button>
    <br/>
    <br/><br/>


    <table class="table">
      <tr>
        <td><label>Name</label></td>
        <td><input #name type="text" placeholder="Name"/></td>
      </tr>

      <tr>
        <td><label>Email </label></td>

        <td><input #email type="email" ng-model="string" placeholder="Email" required/>
        </td>

      </tr>

      <tr>

        <td><label>Password </label></td>

        <td><input #pass type="password" placeholder="Password"/></td>

      </tr>
      <tr>
        <td><label>Repeat Password </label>
        </td>
        <td>
          <input #passII type="password" placeholder="Repeat password"/>
        </td>
      </tr>

    </table>


    <button class="btn btn-info" (click)="updateUser(name.value, email.value, pass.value,passII.value)"
            style="background:#841439; border:none">
      <span class="glyphicon  glyphicon-edit"></span> Edit profile
    </button>
  </div>
</div>

<router-outlet>

  <div class="headerDiv">

    <button id="goBack" (click)="goBack()">
      <span class="glyphicon glyphicon-arrow-left"></span> Go back
    </button>

    <button id="logOut" (click)="logout()" *ngIf="userIsLogged()==true">
      <span class="glyphicon glyphicon-log-out"></span> Log out
    </button>

    <button id="logIn" (click)="redirectToLoginPage()" *ngIf="userIsLogged()==false">
      <i class="fa fa-sign-in"
         style="margin-right: 8px"></i> Log in
    </button>

    <button id="addCourse" (click)="redirectToAddCourse()"> <i class="fa fa-plus-circle"></i>
      Add Course
    </button>



    <ul class="dropdown" id="loggedUserButton">
      <a class="dropdown-toggle" *ngIf="userIsLogged()==true" data-toggle="dropdown"
         style="color: white; cursor: pointer; "><i
        class="fa fa-user-circle-o"
        style="margin-right: 8px"></i>{{username}}<span class="caret" style="margin-left: 3px"></span>
      </a>
      <ul class="dropdown-menu" style="margin-top: 18px" role="menu">
        <li><a (click)="openModal('myModal')" class="dropdown-menu-item">
          <span class="glyphicon glyphicon-pencil"></span>
          Edit profile
        </a></li>
        <li class="divider"></li>
        <li><a mat-button (click)="openDialog()" class="dropdown-menu-item"><i class="fa fa-book"></i>View courses</a>
        </li>

      </ul>
    </ul>

    <button (click)="redirectToCoursePage()" title="Home" id="homePage">
      <i class="fa fa-home"
         style="margin-right: 8px"></i>
    </button>
  </div>
</router-outlet>

<div class="footerDiv">
  <footer>
    <div class="social">
      <a href="https://www.facebook.com/msg.systems.romania/" target="_blank"> <i class="fa fa-facebook-square"
                                                                                  id="facebookIcon">   </i> </a>
      <a href="https://github.com/easyonboard/onboarder" target="_blank"> <i class="fa fa-git-square" id="gitIcon">
          </i> </a>
      <a> <i class="fa fa-youtube-square" id="youtubeIcon">   </i> </a>
    </div>
  </footer>
</div>
