<div class="form">

  <ul class="tab-group">
    <li class="tab active"><a  (click)="createNewAccount(true)">Sign Up</a></li>
    <li class="tab"><a  (click)="createNewAccount(false)">Log In</a></li>
  </ul>

  <div class="tab-content">
    <div [hidden]="option==false">
      <h1>Sign Up for Free</h1>
        <div class="top-row">
          <div class="field-wrap">

            <input type="text" placeholder="Name"/>
          </div>

          <div class="field-wrap">

            <input type="text" placeholder="Username"/>
          </div>
        </div>

        <div class="field-wrap">

          <input type="email" placeholder="Email"/>
        </div>

        <div class="field-wrap">

          <input type="password" placeholder="Password"/>
        </div>
      <div class="field-wrap">

        <input type="password" placeholder="Repeat password"/>
      </div>

        <button type="submit" class="button button-block" (click)="addUser()">Get Started</button>



    </div>

    <div [hidden]="option==true" >
      <h1>{{message}}</h1>
        <div class="field-wrap">

          <input #Username type="text" placeholder="Username"/>
        </div>

        <div class="field-wrap">

          <input #Password type="password"  placeholder="Password" required autocomplete="off"/>
        </div>

        <button class="button button-block" (click)="login(Username.value,Password.value)">Log In</button>


    </div>

  </div><!-- tab-content -->

</div> <!-- /form -->

