<div id="parentDiv">
    <div id="tutorialDetails" *ngIf="tutorial">

        <div fxLayout="row" style="margin-top: 2%; margin-left: 2%" *ngIf="tutorial.keywords!=null">

            <div fxFlex="10">
                <i class="fa fa-server icon" aria-hidden="true"></i>
                <label class="subtitle">Keywords: </label>
            </div>

            <div fxFlex>
                <mat-chip-list class="mat-chip-list" id="keywordsList">
                    <mat-chip *ngFor="let keyword of tutorial.keywords.split(' ')" style="cursor: default !important;">{{keyword}}
                    </mat-chip>
                </mat-chip-list>
            </div>

            <div fxFlex="5" class="editIcon" *ngIf="userCanEditThisTutorial()">
                <button mat-button (click)="redirectToUpdateTutorial(tutorial.idTutorial)">
                    <mat-icon matTooltip="Edit tutorial" >edit</mat-icon>
                </button>
            </div>
        </div>

        <div fxLayout="row" *ngIf="tutorial.titleTutorial" fxLayoutAlign="center center">
            <div fxFlex="20" fxFlexOffset="5">
                <mat-chip *ngIf="tutorial.draft" [ngStyle]="{ backgroundColor: '#71ABFF', float:'left' }" selected="true">Draft
                </mat-chip>
            </div>
            <div id="titleDiv" fxFlex="50" fxLayoutAlign="center center">
                {{tutorial.titleTutorial}}
            </div>
            <div fxFlex>
            </div>
        </div>

        <div fxLayout="row" style="margin-top: 5%; margin-left: 2%" *ngIf="tutorial.overview">

            <div fxFlex="15">
                <i class="fa fa-align-left icon" aria-hidden="true"></i>
                <label class="subtitle">Overview: </label>
            </div>

            <div fxFlex style="font-size: larger">
                <mat-accordion>
                    <mat-expansion-panel (opened)="addScollBarToPage()">
                        <mat-expansion-panel-header>
                            <mat-panel-title id="overview">
                                {{tutorial.overview}}
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>{{tutorial.overview}}</p>
                    </mat-expansion-panel>

                </mat-accordion>
            </div>

            <div fxFlex="10"></div>
        </div>


        <div fxLayout="row" style="margin-top: 5%; margin-left: 2%" *ngIf="tutorial.contactPersons.length!=0">
            <div fxFlex="15">
                <i class="fa fa-users icon" aria-hidden="true"></i>
                <label class="subtitle">Contact persons: </label>
            </div>
            <div fxFlex="50" style="font-size: larger">
                <div *ngFor="let cp of tutorial.contactPersons" fxLayout="colum">
                    <div fxFlex="7" style="color: #000000"> Name:</div>
                    <div fxFlex="10" fxFlexOffset="2">{{cp.name}}</div>
                    <div fxFlex="15" style="color: #000000" fxFlexOffset="2" *ngIf="cp.msgMail">Email address:</div>
                    <div fxFlex="10" fxFlexOffset="2">
                        <a data-role="touch" href="mailto:{{cp.msgMail}}?subject=About tutorial: {{tutorial.titleTutorial}}" data-rel="external">{{cp.msgMail}}</a>
                    </div>
                </div>
            </div>
            <div fxFlex="8">
                <div *ngIf="showInfo" id="sendEmailInfo">
                    <span>
              If you want to send email using Outlook you need to set Outlook as default app for emails.
              You can do that following next tutorial.
              <a href="http://localhost:4200/tutorials/3251"> link tutorial for setting outlook </a>
            </span>
                </div>
            </div>
            <div fxFlex="5" fxFlexOffset="20">
                <mat-icon matTooltip="Send email info" (click)="displayInfo()">info</mat-icon>
            </div>



        </div>


        <div fxLayout="row" style="margin-top: 5%; margin-left: 2%" *ngIf="tutorial.tutorialMaterials.length!=0">
            <div fxFlex="15">
                <i class="fa fa-users icon" aria-hidden="true"></i>
                <label class="subtitle">Materials: </label>
            </div>
            <div fxFlex style="font-size: larger">
                <div fxLayout="row" *ngFor="let material of tutorial.tutorialMaterials">
                    <div fxFlex>
                        <div fxLayout="colum">
                            <div fxFlex="5"> Type:</div>
                            <div fxFlex="10" fxFlexOffset="1">{{material.materialType}}</div>

                            <div fxFlex="10" fxFlexOffset="2">Material:</div>
                            <div fxFlex fxFlexOffset="1" *ngIf="material.link">
                                <a (click)="openURL(material.link);">{{material.title}}</a>
                            </div>
                            <div fxFlex fxFlexOffset="1" *ngIf="!material.link" (click)="getFileWithId(material.idTutorialMaterial)">
                                <a>{{material.title}}</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div fxFlex="10"></div>
        </div>

    </div>
</div>