
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<div class="headerDiv">
</div>


<div class="modal" id="myCustom">

  <div class="modal-content">
    <button class="close" style="font-size: 15px;" (click)="closeModal('myCustom')">Close</button>
    <br/>
    {{successMessage}}
  </div>
</div>

<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <div class="alert alert-danger" [hidden]="message.length==0">
      {{message}}
    </div>
    <button class="close" (click)="closeModal('myModal')">Close</button>
    <br/>
    <br/><br/>


    <table class="table">
      <tr>
        <td><label>Name</label></td>
        <td><input #name type="text" placeholder="Name"/></td>
      </tr>

      <tr>
        <td><label>Email </label></td>

        <td><input #email type="email" ng-model="string" placeholder="Email" required/>
        </td>

      </tr>

      <tr>

        <td><label>Password </label></td>

        <td><input #pass type="password" placeholder="Password"/></td>

      </tr>
      <tr>
        <td><label>Repeat Password </label>
        </td>
        <td>
          <input #passII type="password" placeholder="Repeat password"/>
        </td>
      </tr>

    </table>


    <button class="btn btn-info logOut" (click)="updateUser(name.value, email.value, pass.value,passII.value)" style="background:#841439">
      <span class="glyphicon  glyphicon-edit"></span> Edit profile
    </button>
  </div>
  </div>

<router-outlet>

  <button class="btn btn-info back" (click)="goBack()" style="  background-color:#841439; border:none; color: #ffffff; position: absolute;top:0; left: 0; margin-top:10px; margin-left: 15px; font-size: large;" >
    <span class="glyphicon glyphicon-arrow-left" ></span> Go back
</button>

  <button  (click)="logout()" class="btn btn-info logOut" style="position:absolute; top:0; right:0; margin-top: 15px; margin-right: 15px;  background-color:#841439; border:none; color: #ffffff; font-size: large;">
    <span class="glyphicon glyphicon-log-out" ></span> Log out
  </button>
  <button class="btn btn-info edit" (click)="openModal('myModal')" style="position:absolute; top:0; right:0; margin-top: 15px; margin-right: 120px;  background-color:#841439; border:none; color: #ffffff; font-size: large;">
    <span class="glyphicon glyphicon-pencil"></span> Edit profile
  </button>
</router-outlet>
<div class="footerDiv">

</div>

