#mainDiv {
  margin-left: 40px;
}

#backIcon {
  float: left;
}

.vertical-menu {
  margin-left: 20px;
  margin-top: 100px;
  width: 200px;
  float: left;
  position: fixed;
  box-shadow: 4px 7px #888888;
}

.vertical-menu a {
  background-color: #eee;
  color: black;
  display: block;
  padding: 12px;
  text-decoration: none;
  border: solid;
  border-color: #cccccc;
  border-width: 1px;
  border-radius: 5px;
}

.vertical-menu a:hover {
  background-color: #dddddd;
  margin-left: 7px;
}

.vertical-menu a.selected {
  background-color: #2893f1;
  color: white;
}

#courseDetails {
  margin-top: 50px;
  margin-left: 300px;
  background-color: white;
  width: 1500px;
  height: 80%;
  position: relative;
  border: 3.5px solid #841439;
  border-radius: 8px;
  padding-right: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#enrollButton, #alreadyEnrolled {
  background-color: #f7f7f7;
  color: #841439;
  position: absolute;
  right: 10px;
  height: 48px;
  width: 180px;
  border: none;
  font-size: large;
  font-weight: bolder;
}

.collapse {
  -webkit-transition: none;
  transition: block;
  display: none;
}

#editCourse {
  background-color: #f7f7f7;
  color: #841439;
  position: absolute;
  right: 180px;
  height: 48px;
  width: 150px;
  font-size: large;
  font-weight: bolder;
  border: none;
}

.titleDiv {
  font-weight: bold;
  font-size: 40px;
  margin-left: 450px;
  width: 500px;
  text-align: center;
  text-decoration: double;
  text-decoration-color: #841439;;
}

section {
  margin-bottom: 50px
}

.overviewTextArea {
  margin: auto;
}

textarea {
  resize: vertical;
  border-radius: 5px;
}

input[type~="text"], select {
  border-radius: 5px;
  height: 35px;
  width: 190px;
}

.modal {
  margin: auto;
  display: none;
  position: fixed;
  width: 75%;
  height: 100%;
  overflow: auto;

}


.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 15px;
  border: 1px solid #888;
  width: 500px;
}

#editCourseSubmitButton {
  background-color: #841439;
  color: #eee;
  height: 50px;
  width: 113px;
  font-weight: bold;
  font-size: large;
  border: none;
  box-shadow: 4px 7px #888888;
}

#cancelEditing {
  background-color: #841439;
  color: #eee;
  height: 50px;
  width: 113px;
  margin-left: 10px;
  font-weight: bold;
  font-size: large;
  border: none;
  box-shadow: 4px 7px #888888;
}

#editCourseSubmitButton:hover,#cancelEditing:hover {
  background-color: #6b233b;
  color: white;
}

hr.hrStyle {
  border-top: 5px double #8c8b8b;
  border-color: #6b233b;
  margin-left: 50px;
}

.tableStyle {
  padding-left: 400px;
  padding-right: 100px;
  padding-top: 10px;
  width: 500px;
  font-size: 20px;
}

.sectionStyle {
  padding-left: 100px;
  padding-right: 100px;
}

.sectionTitle {
  font-weight: bold;
  font-size: large;
}

.tableStyleSyllabus {
  padding: 50px;
  width: 1000px;
  margin-left: 150px;
}

.subjectDiv {
  width: 90%;
  height: 90%;
  background-color: white;
  padding: 10px;
  border: 3.5px solid #841439;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.left-buttons {
  margin-left: 40px;
  margin-top: 430px;
  width: 240px;
  float: left;
  position: fixed;
}

.subjectTitle {
  font-size: 25px;
  text-align: center;
  background-color: #6b233b;
  color: white;
}

.aboutTheCourse {
  font-size: 25px;

}

.descriptionAndCommitmentStyle {
  font-size: 18px;
}

.textStyle {
  font-size: 15px;
  margin: 50px;
}

.emailDiv {
  width: 300px;

}

.emailDiv:hover {
  background: #c4c3c3;
}

#closeModalButton{
  font-size: 15px;
}
#titleEdited{
  font-size:20px;
}

#selectedSection{
  background-color:#841439 ;
  color:#ffffff ;
}

