<link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">

<div class="modal" id="editSuccessful">
  <div class="modal-content">
    <button class="close" id="closeModalButton" (click)="closeModal('editSuccessful')" data-dismiss="editSuccessful">Close</button>
    <br/>
    {{modalMessage}}
  </div>
</div>


<div class="modal" id="errorEditing">
  <div class="modal-content">
    <button class="close" id="closeModal" (click)="closeModal('errorEditing')">Close</button>
    <br/>
    <div class="alert-danger">
      {{errorMessage}}
    </div>
  </div>
</div>

<div class="modal" id="addReview">
  <div class="modal-content">
    <button class="close" id="closeModalReview" (click)="closeModal('addReview')">Close</button>
    <br/>
    <table>

      <tr>
        <td style="padding: 10px">
          <label class="ion-android-star">Rate </label></td>
        <td>
          <star-rating-comp   [starType]="'svg'"
                              [hoverEnabled]="true"
                              id="stars"
                              (onClick)="onClick($event)">
          </star-rating-comp>
        </td>
      </tr>
      <tr>
        <td style="padding: 10px">
          <label class="ion-compose">
            Write a review
          </label></td>
        <td><textarea class="form-control" rows="10" style="width: 300px" name="Review message"
                      [(ngModel)]="review.message"required> </textarea>
        </td>
      </tr>
    </table>
    <br/>
    <br/>
    <button (click)="addReview()" id="buttonAddReview"  >Add review</button>
  </div>
</div>


<div class="left-buttons">
  <button id="editCourseSubmitButton" class="glyphicon glyphicon-edit" *ngIf="isInEditingMode == true"
          (click)="editCourse(titleEdited,overviewEdited, contactPersonsIds, ownersIds)"> Edit
  </button>

  <button id="cancelEditing" class="glyphicon glyphicon-remove-sign" *ngIf="isInEditingMode == true"
          (click)="exitEditingMode()"> Cancel
  </button>
</div>


<div id="mainDiv" class="mainDiv" xmlns="http://www.w3.org/1999/html">
  <div class="vertical-menu">
    <a class="nav-link js-scroll-trigger"
       href="{{rootConst.FRONT_DETAILED_COURSE}}/{{course.idCourse}}#{{rootConst.FRONT_OVERVIEW_SECTION}}"
       target="_self"
       name="overview"
       data-target="{rootConst.FRONT_OVERVIEW_SECTION}}" (click)="selectSection('overview')">Overview</a>


    <a class="nav-link js-scroll-trigger"
       href="{{rootConst.FRONT_DETAILED_COURSE}}/{{course.idCourse}}#{{rootConst.FRONT_SYLLABUS_SECTION}}"
       target="_self"
       name="syllabus"
       data-target="{rootConst.FRONT_SYLLABUS_SECTION}}" (click)="selectSection('syllabus')">Syllabus</a>


    <a class="nav-link js-scroll-trigger"
       href="{{rootConst.FRONT_DETAILED_COURSE}}/{{course.idCourse}}#{{rootConst.FRONT_OWNER_SECTION}}"
       target="_self"
       name="owner"
       data-target="{rootConst.FRONT_OWNER_SECTION}}" (click)="selectSection('owner')">Owner</a>


    <a class="nav-link js-scroll-trigger"
       href="{{rootConst.FRONT_DETAILED_COURSE}}/{{course.idCourse}}#{{rootConst.FRONT_CONTACT_PERSON_SECTION}}"
       target="_self"
       name="contactPerson"
       data-target="{rootConst.FRONT_CONTACT_PERSON_SECTION}}" (click)="selectSection('contactPerson')">Contact
      person</a>


    <a class="nav-link js-scroll-trigger"
       href="{{rootConst.FRONT_DETAILED_COURSE}}/{{course.idCourse}}#{{rootConst.FRONT_RATINGS_REVIEW_SECTION}}"
       target="_self"
       name="ratingsReview"
       data-target="{rootConst.FRONT_RATINGS_REVIEW_SECTION}}" (click)="selectSection('ratingsReview')">Ratings and
      review</a>
  </div>

  <div id="courseDetails" data-target="#mainDiv">
    <mat-chip-list class="mat-chip-list" *ngIf="course.keywords!=null">
      <mat-chip (click)="searchByKeyword(keyword)" *ngFor="let keyword of course.keywords.split(' ')"
                [selectable]="selectable">{{keyword}}
      </mat-chip>
    </mat-chip-list>

    <button id="enrollButton" *ngIf="isEnrolled == false" (click)="enrollUserToCourse()"><span
      class="glyphicon glyphicon-check"></span> Enroll
    </button>

    <button id="alreadyEnrolled" *ngIf="isEnrolled == true" (click)="unenrollUserFromCourse()"><span
      class="	glyphicon glyphicon-ok"></span> Unenroll
    </button>
  <button id="addReviewButton" (click)="openModal('addReview')"> <span class="ion-plus-circled"></span>
    Add review
    </button>

    <button id="editCourse" (click)="editCourseMode()"><span class="glyphicon glyphicon-edit"> </span> Edit Course
    </button>

    <br><br><br>

    <div class="titleDiv">
      <label *ngIf="isInEditingMode==false">{{course.titleCourse}}</label>
      <br/>
      <div class="ratingGeneral">
        Ratingul general al cursului:
        <div class="displayRating"> {{rating}}</div>
        <br/>
        <div class="x-star-rating">
          <div class="starempty" id="id1"></div>
          <div class="starempty" id="id2"></div>
          <div class="starempty" id="id3"></div>
          <div class="starempty" id="id4"></div>
          <div class="starempty" id="id5"></div>
        </div>
        <br/>
      </div>

      <br/>
      <!--<span matTooltip="{{progress}}">-->
      <mat-progress-bar mode="determinate" value="{{progress}}" title="Progress: {{progress}}%"
                        *ngIf="isEnrolled==true && isInEditingMode==false"></mat-progress-bar>
      <!--</span>-->
      <input type="text" [(ngModel)]="titleEdited" name="title" id="titleEdited"
             *ngIf="isInEditingMode==true"/>


    </div>

    <hr class="hrStyle"/>

    <section id="{{rootConst.FRONT_OVERVIEW_SECTION}}" class="sectionStyle"
             (mouseover)="onHoverSection(rootConst.FRONT_OVERVIEW_SECTION)">
      <p class="sectionTitle">Overview</p>
      <p class="textStyle">
        {{ course.overview.substring(0,150)}} ...
      </p>
      <p>
        <details>
          <summary>More details</summary>
      <p class="textStyle" *ngIf="isInEditingMode==false">
        {{ course.overview }}
      </p>
      </details>
      </p>

      <textarea id="overviewTextBox" [(ngModel)]="overviewEdited" rows="7" cols="180" *ngIf="isInEditingMode==true">{{course.overview}}
        </textarea>
    </section>

    <section id="{{ rootConst.FRONT_SYLLABUS_SECTION }}" class="sectionStyle"
             (mouseover)="onHoverSection(rootConst.FRONT_SYLLABUS_SECTION)">
      <p class="sectionTitle">Syllabus</p>

      <details>
        <summary>More details</summary>
        <div class="tableStyleSyllabus">
          <table class="table table-inverse">
            <tbody>
            <tr *ngFor="let  subject of course.subjects let booleanIndex=index">
              <div class="subjectDiv">
                <div class="subjectTitle">{{subject.name}}
                  <button (click)="deleteSubjectFromCourse(subject.idSubject)" class="close"
                          *ngIf="isInEditingMode==true">Delete
                  </button>

                </div>

                <hr class="separator">
                <div class="aboutTheCourse">About the Course</div>
                <br/>
                <p class="descriptionAndCommitmentStyle">{{subject.description}}</p>
                <hr class="separator">
                <p class="descriptionAndCommitmentStyle">Commitment: <span></span> {{subject.numberOfDays}} Days</p>
                <hr class="separator">
                <br/>
                <a *ngIf="isEnrolled==true && hasFinishedPreviousSubjects[booleanIndex]==true"
                   routerLink="{{rootConst.FRONT_DETAILED_COURSE }}/{{course.idCourse}}/{{rootConst.FRONT_DETAILED_SUBJECT}}/{{subject.idSubject}}">Click
                  to see more</a>
              </div>
              <br/>
              <br/>
            </tr>
            <br><br>
            </tbody>
          </table>
        </div>
      </details>
    </section>

    <section id="{{ rootConst.FRONT_OWNER_SECTION }}" class="sectionStyle"
             (mouseover)="onHoverSection(rootConst.FRONT_OWNER_SECTION)">
      <p class="sectionTitle">Owners</p>
      <details>
        <summary>More details</summary>
        <div class="tableStyle">
          <table class="table">
            <thead>
            <td>Name</td>
            <td>Email</td>
            <td>Username</td>
            </thead>
            <tbody>
            <tr *ngFor="let owner of course.owners ">
              <td>{{owner.name}}</td>
              <td>{{owner.email}}</td>
              <td>{{owner.username}}</td>
              <td *ngIf="isInEditingMode==true">
                <button (click)="deleteOwnerPerson(owner)" class="close">Delete</button>
              </td>
            </tr>
            </tbody>

          </table>

          <div *ngIf="isInEditingMode==true">
            <ss-multiselect-dropdown [options]="userEmails" [(ngModel)]="ownersIds"></ss-multiselect-dropdown>
          </div>
        </div>
      </details>
    </section>

    <section id="{{ rootConst.FRONT_CONTACT_PERSON_SECTION }}" class="sectionStyle"
             (mouseover)="onHoverSection(rootConst.FRONT_CONTACT_PERSON_SECTION)">
      <p class="sectionTitle">Contact Persons</p>
      <details>
        <summary>More details</summary>
        <div class="tableStyle">

          <table class="table">
            <thead>
            <td>Name</td>
            <td>Email</td>
            <td>Username</td>
            </thead>
            <tbody>
            <tr *ngFor="let contactPerson of course.contactPersons ">
              <td>{{contactPerson.name}}</td>
              <td>{{contactPerson.email}}</td>
              <td>{{contactPerson.username}}</td>
              <td *ngIf="isInEditingMode==true">
                <button (click)="deleteContactPerson(contactPerson)" class="close">Delete</button>
              </td>
            </tr>

            </tbody>
          </table>

          <div *ngIf="isInEditingMode==true">
            <ss-multiselect-dropdown [options]="userEmails" [(ngModel)]="contactPersonsIds"></ss-multiselect-dropdown>
          </div>
        </div>
      </details>
    </section>

    <section id="{{ rootConst.FRONT_RATINGS_REVIEW_SECTION}}" class="sectionStyle"
             (mouseover)="onHoverSection(rootConst.FRONT_RATINGS_REVIEW_SECTION)">
      <p class="sectionTitle"> Ratings</p>

      <details>
        <summary>View user reviews</summary>
        <table class="table">
<tr *ngFor="let review of courseReviews">
<td>
  <br/>
  <br/>
  <br/>
  {{review.user.username}}
<br/>
  <br>
  <button class="fa fa fa-thumbs-o-up" id="thumbsUp"></button>
  <button class="fa fa-thumbs-down" id="thumbsDown"></button>
</td>
  <td>

    <star-rating-comp   id="stars" [starType]="'svg'" [rating]="review.rating" [readOnly]="true" [staticColor]="'ok'"></star-rating-comp>

  <br/>
    <hr>
    <br/>
  {{review.message}}
    <br/>
    <br/>
    <hr>
   Points from users: {{review.pointsFromUsers}}
  </td>
</tr>
        </table>

      </details>
    </section>
  </div>
</div>
