<div class="form">
  <form>
    <div class="tab-content">

      <div [hidden]="option==true">
        <h1 style="color: #0e0008">{{message}}</h1>
        <div class="alert alert-danger" [hidden]="!userNotfound">
          {{userNotfound}}
        </div>
        <div class="field-wrap input-group form-group">
          <span class="input-group-addon glyphicon glyphicon-user"></span>
          <input #Username type="text" placeholder="Username" class="form-control" title="Username"/>
        </div>

        <div class="field-wrap input-group form-group">
          <span class="input-group-addon glyphicon glyphicon-lock"></span>
          <input #Password type="password" placeholder="Password" class="form-control" required autocomplete="off"
                 title="Password"/>
        </div>

        <button id="buttonLogin" class="button button-block" (click)="login(Username.value,Password.value)">Log In
        </button>


      </div>

    </div><!-- tab-content -->
  </form>
</div> <!-- /form -->

<!--<app-user-inf-formular></app-user-inf-formular>-->
