<h1>Users in department</h1>

<mat-dialog-content style=" overflow: initial">
  <button mat-raised-button title="Export Excel" (click)="export()"> <i class="material-icons">file_download</i> Download user details</button>

  <mat-form-field class="example-full-width" style="float: right; " >
    <input matInput type="search" placeholder="Search by name" (input)="searchByName()"  [(ngModel)]="searchValue">
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>

  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false"
                       *ngFor="let user of userDetails"
                       style="padding: 10px;margin-top: 2%">
    <mat-expansion-panel-header>
      <mat-panel-title style="margin-left: 20px;">
        <span> <i class="material-icons">account_box</i></span>
        <label style="margin-left: 10px"></label> {{user.firstName}} {{user.lastName}}
      </mat-panel-title>

    </mat-expansion-panel-header>
    <ul>
      <li><p style="margin-left: 50px;">Email: {{user.email}}</p></li>
      <li><p style="margin-left: 50px;">Username : {{user.username}}</p></li>
      <li><p style="margin-left: 50px;">Project : {{user.project}}</p></li>
      <li><p style="margin-left: 50px;">Team : {{user.team}}</p></li>
      <li><p style="margin-left: 50px;">Start date : {{user.startDate}}</p></li>
      <li><p style="margin-left: 50px;">Department : {{user.department}}</p></li>
    </ul>
  </mat-expansion-panel>

</mat-dialog-content>
<!-- container -->
