#addComponent {
    margin: auto;
    width: 70%;
    height: 100%;
    margin-top: 4%;
    border-radius: 12px;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 1%;
    padding-bottom: 5%;
    align-items: center;
    border: #841439 solid 4px;
    box-shadow: 0 6px 10px 6px #cccccc inset;
    position: relative;
}

.stepDiv {
    margin: auto;
    width: 100%;
    height: 650px;
    border-radius: 10px;
}

.pageTitle {
    font-size: 170%;
    font-weight: bold;
    text-align: center;
    margin-top: 4%;
    margin-right: 17%;
    margin-left: 17%;
    align-self: auto;
}

input[type~="text"],
select {
    border-radius: 2px;
    height: 100%;
    width: 100%;
}

input[type~="submit"] {
    border-radius: 7px;
    height: 100%;
    width: 100%;
    border-width: 3px;
    color: #0e0008;
    font-weight: bold;
}

.prevStepButton {
    position: absolute;
    bottom: 8px;
    left: 16px;
}

.separator {
    margin-left: 5%;
    width: 90%;
    margin-bottom: 1%;
}

.keyword-list {
    width: 80%;
}

.nextStepButton {
    position: absolute;
    bottom: 8%;
    right: 8%;
    background-color: white;
    color: #841439;
    border-radius: 5px;
    font-weight: lighter;
    font-size: large;
    border: solid 1.5px #841439;
    box-shadow: 0 4px 6px 4px #cccccc;
}

.nextStepButton:hover {
    background-color: #6b233b;
    color: white;
    transform: scale(1.1)
}

#addCourseMessage {
    text-align: center;
    color: #ffffff;
    background: #841439;
    font-size: 18px;
    font-weight: bolder;
    text-shadow: #8c8b8b;
    height: 90px;
    width: 100%;
    padding: 30px;
}

#backToCourses {
    text-align: center;
    color: #ffffff;
    background: #841439;
    font-size: 18px;
    font-weight: bolder;
    text-shadow: #8c8b8b;
    height: 90px;
    width: 100%;
    margin-top: 500px;
    padding: 30px;
}


textarea{
  resize: none;
}
