<div fxFlex="95">
  <mat-paginator *ngIf="tutorials?.length>0" mat [length]="this.tutorials.length" [pageSize]="pageSize"
                 [pageIndex]="pageIndex" [pageSizeOptions]="pageSizeOptions" (page)="pageEvent = getServerData($event)">
  </mat-paginator>
</div>


<div fxLayout="row wrap" fxLayoutAlign="start start" style="padding-top: 3%">

  <p fxFlex *ngIf="tutorials?.length === 0" style="text-align: center">
    <b>No tutorials.</b>
  </p>

  <div *ngFor="let tutorial of tutorialsPerPage" fxFlex="20" fxFlexOffset="10">
    <mat-card class="tutorial">
      <mat-card-header class="tutorialHeader">
        <mat-chip-list class="mat-chip-list" *ngIf="tutorial.keywords!=null">
          <mat-chip *ngFor="let keyword of tutorial.keywords.split(' ')" [selectable]="selectable"
                    (click)="filterByKeyword(keyword)">{{ keyword }}
          </mat-chip>
        </mat-chip-list>
        <div id="buttonDelete" fxFlex="" fxLayoutAlign="end start" *ngIf="hasDeleteTutorialsPermission">
          <i class="material-icons" (click)="deleteTutorial(tutorial.idTutorial)"
             style="color:  #841439; cursor: pointer">
            delete_forever
          </i>
        </div>
      </mat-card-header>

      <mat-card-title routerLink="/tutorials/{{tutorial.idTutorial}}" style="cursor: pointer">
        <p class="tutorialTitle"> {{ tutorial.titleTutorial}}
        </p>

        <mat-divider></mat-divider>
      </mat-card-title>

      <mat-card-content *ngIf="tutorial.overview" routerLink="/tutorials/{{tutorial.idTutorial}}"
                        style="cursor: pointer">
        <p class="overview"> {{ tutorial.overview}} </p>
      </mat-card-content>
    </mat-card>
  </div>

</div>
