<div fxLayout="column" id="addComponent">
  <div fxFlex>
    <div class="pageTitle"> Add tutorial</div>
  </div>

  <div fxFlex="80" fxFlexOffset="5" fxLayout="row" fxLayoutAlign="stretch">

    <div fxFlex="35" fxFlexOffset="5" fxLayoutAlign=" stretch">
      <div fxFlex="row">

        <div fxFlex fxLayout="row">
          <label fxFlex>Tutorial title</label>
          <input fxFlex class="form-control" type="text" id="tutorialTtile" name="Tutorial title"
                 [(ngModel)]="tutorial.titleTutorial"/>
        </div>

        <div fxFlex="" fxLayout="row" class="tutorialRow">
          <label fxFlex>Contact persons</label>
          <mat-form-field>
            <mat-select placeholder="choose one or more contact persons"
                        multiple
                        [panelClass]="dropdownSettings"
                        [(ngModel)]="selectedContactPersonsIds">
              <mat-option *ngFor="let user of usersOptions"
                          [value]="user.idUser">
                {{user.name}}({{user.msgMail}})
              </mat-option>
            </mat-select>
          </mat-form-field>

        </div>


        <div fxFlex fxLayout="row" class="tutorialRow">
          <label fxFlex>Overview</label>
          <textarea fxFlex class="form-control" id="tutorialOverview" name="Overview"
                    rows="14"
                    [(ngModel)]="tutorial.overview"></textarea>
        </div>


        <div fxFlex="" fxLayout="row" class="tutorialRow">
          <label fxFlex>Keywords </label>
          <mat-form-field fxFlex class="keyword-list">
            <mat-chip-list #chipList>
              <mat-chip *ngFor="let keyword of keywords" [selectable]="true" [removable]="true"
                        (remove)="removeKeyword(keyword)">
                {{keyword}}
                <mat-icon matChipRemove *ngIf="true"><i class="fa fa-times" aria-hidden="true"></i></mat-icon>
              </mat-chip>
              <input [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                     [matChipInputAddOnBlur]="true" (matChipInputTokenEnd)="addKeyword($event)"/>
            </mat-chip-list>
          </mat-form-field>
        </div>
      </div>
    </div>

    <div fxFlex="" fxFlexOffset="5">
      <button mat-raised-button color="primary" (click)="addNewEmptyMaterial()">Add material</button>
      <table class="table table-hover" id="materialTable">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Action</th>
          <th scope="col">Title</th>
          <th scope="col">Type</th>
          <th scope="col">LINK/FILE</th>
          <th></th>
        </tr>
        </thead>

        <tbody *ngIf="materialsForCurrentTutorial.length===0">
        <tr>
          <td colspan="4" style="text-align: center">No materials for this tutorial yet</td>
        </tr>
        </tbody>

        <tbody *ngFor="let material of materialsForCurrentTutorial;let position= index">
        <tr>
          <th scope="row" align="center">{{position+1}}</th>
          <th align="center">
            <mat-icon *ngIf="materialType[material.materialType]===materialType['LINK']" matSuffix
                      (click)="openURL(material.link)">
              visibility
            </mat-icon>
            <mat-icon *ngIf="materialType[material.materialType]===materialType['FILE']" matSuffix
                      (click)="openFile(position)">
              save_alt
            </mat-icon>
            <mat-icon matSuffix (click)="deleteMaterial(position)">delete</mat-icon>
          </th>

          <td>
            <mat-form-field>
              <input matInput type="text" placeholder="Title" [(ngModel)]="material.title" name="title" autofocus>
            </mat-form-field>
          </td>
          <!--<th *ngIf="material.materialType">{{material.materialType}}</th>-->
          <!--<th *ngIf="!material.materialType">-->
          <td>
            <mat-form-field>
              <mat-select placeholder="Material type" [(value)]="material.materialType">
                <mat-option value="LINK" id="valueLink">Link</mat-option>
                <mat-option value="FILE" id="valueFile">File</mat-option>
              </mat-select>
            </mat-form-field>
          </td>

          <td *ngIf="materialType[material.materialType]===materialType['LINK']">
            <form>
              <mat-form-field>
                <input matInput placeholder="Link" [(ngModel)]="material.link" name="link">
              </mat-form-field>
            </form>
          </td>
          <td *ngIf="materialType[material.materialType]===materialType['FILE']">
            <form>
              <input type="file" name="materialFile" id={{position}} accept="application/pdf"/>
            </form>
          </td>
        </tr>


        </tbody>
      </table>
    </div>

  </div>

  <div fxFlex fxLayout="row">

    <div fxFlex fxFlexOffset="85">
      <button type="button" class="btn btn-default" data-dismiss="modal">

      </button>
      <button (click)="addTutorial()"><span class="fa fa-caret-square-o-right"></span> Save</button>
    </div>
  </div>

</div>
