#bigDiv {
    overflow-y: auto;
}

#addComponent {
    margin: auto;
    width: 1350px;
    height: 800px;
    margin-top: 80px;
    margin-bottom: 55px;
    border-radius: 12px;
    padding-left: 50px;
    padding-top: 30px;
    align-items: center;
    border: #841439 solid 4px;
    box-shadow: 0 6px 10px 6px #cccccc inset;
    position: relative;
}

.stepDiv {
    margin: auto;
    width: 1350px;
    height: 700px;
    border-radius: 12px;
    padding-left: 50px;
    padding-top: 30px;
}

#tutorialTable td,
#materialTable td {
    padding-left: 50px;
}

#materialTable td {
    padding-top: 10px;
}

#tutorialTable td {
    padding-top: 50px;
}

.modal-body {
    border: 1.5px solid #841439;
    border-radius: 9px;
}

#addMaterialForm {
    margin-top: 50px;
    padding-left: 80px;
}

.pageTitle {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

table {
    color: #0e0008;
    opacity: revert;
    font-weight: bold;
    font-size: medium;
}

input[type~="text"],
select {
    border-radius: 5px;
    height: 35px;
    width: 290px;
}

textarea {
    border-radius: 5px;
    height: 135px;
    width: 570px;
}

#materialTable textarea {
    width: 290px;
}

input[type~="submit"] {
    border-radius: 7px;
    height: 35px;
    width: 70px;
    border-width: 3px;
    color: #0e0008;
    font-weight: bold;
}

#openModalIcon {
    margin-top: 30px;
    font-size: 35px;
    margin-left: 85%;
}

.materialModal {
    margin: auto;
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    border: 2px #841439;
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 15px;
    border: 1px solid #888;
}

.nextStepButton {
    position: absolute;
    bottom: 8px;
    right: 16px;
    background-color: white;
    color: #841439;
    border-radius: 5px;
    font-weight: lighter;
    font-size: large;
    border: solid 1.5px #841439;
    box-shadow: 0 4px 6px 4px #cccccc;
}

.nextStepButton:hover {
    background-color: #6b233b;
    color: white;
    transform: scale(1.1)
}

.prevStepButton {
    position: absolute;
    bottom: 8px;
    left: 16px;
}

#tutorialTable {
    margin-top: 50px;
}

.separator {
    margin-left: -5px;
    width: 90%;
    margin-bottom: 30px;
}

#materialTableContainer {
    width: 85%;
    /* table width will be 99% of this*/
    height: 320px;
    /* must be greater than tbody*/
    overflow: auto;
    margin: 0 auto;
}

#materialTableContainer #materials {
    margin-top: 30px;
    border: solid 3px #841439;
    width: 85%;
    border-spacing: 18px;
    border-collapse: separate;
}

#materialTableContainer #materials tr {
    max-width: 85%;
}

#materialTableContainer #materials>tbody {
    overflow: auto;
    height: 380px;
    max-width: 85%;
    overflow-x: hidden;
}

thead>tr>th {
    border-bottom: 3px solid #841439;
}

.row {
    margin-bottom: 15px;
}

.modalTitle {
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    margin-bottom: 20px;
}

#materialsDiv {
    border-radius: 12px;
    padding: 10px;
    border: #841439 solid 1px;
    width: 700px;
    height: 176px;
    overflow-y: auto;
}

.container-fluid .row .input-group-addon {
    border-radius: 10px;
    text-align: left;
    opacity: 1;
    background-color: #cccccc;
}

#addedSubjects {
    margin-top: 30px;
    width: 1150px;
    height: 510px;
    border-radius: 10px;
    border: 3px solid #6b233b;
    box-shadow: 0 4px 6px 4px #cccccc inset;
    overflow-y: auto;
}

#addSubjectIcon {
    margin-left: 1130px;
}

#noSubjectsMsg {
    text-align: center;
    color: #888888;
    font-size: 18px;
    text-shadow: #8c8b8b;
    height: 90px;
    line-height: 470px;
}

#addTutorialMessage {
    text-align: center;
    color: #ffffff;
    background: #841439;
    font-size: 18px;
    font-weight: bolder;
    text-shadow: #8c8b8b;
    height: 90px;
    width: 1080px;
    padding: 30px;
}

#backToTutorials {
    text-align: center;
    color: #ffffff;
    background: #841439;
    font-size: 18px;
    font-weight: bolder;
    text-shadow: #8c8b8b;
    height: 90px;
    width: 1080px;
    margin-top: 500px;
    padding: 30px;
}

.displaySubject {
    border-radius: 10px;
    border: 1px solid #841439;
    box-shadow: 0 2px 4px 4px #cccccc inset;
    width: 1060px;
    height: 130px;
    margin-top: 25px;
    padding: 20px;
    border-collapse: collapse;
}

.displaySubject tr td {
    padding: 6px;
}

.keyword-list {
    width: 80%;
}
#addCourseMessage {
  text-align: center;
  color: #ffffff;
  background: #841439;
  font-size: 18px;
  font-weight: bolder;
  text-shadow: #8c8b8b;
  height: 90px;
  width: 1080px;
  padding: 30px;
}

#backToCourses {
  text-align: center;
  color: #ffffff;
  background: #841439;
  font-size: 18px;
  font-weight: bolder;
  text-shadow: #8c8b8b;
  height: 90px;
  width: 1080px;
  margin-top: 500px;
  padding: 30px;
}
