#addComponent {
    margin: auto;
    width: 85%;
    height: 90%;
    margin-top: 4%;
    border: #841439 solid 4px;
    box-shadow: 0 6px 10px 6px #cccccc inset;
    position: relative;
    padding-right: 2%;
}

.pageTitle {
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
    margin-top: 4%;
    align-self: auto;
}

textarea {
    border-radius: 5px;
    height: 100px;
    width: 500px;
}

.keyword-list {
    width: 80%;
}

.tutorialRow {
    margin-top: 5%;
}

th {
    margin-left: 1%;
    min-width: 5px;
    max-width: 5px;
    overflow: hidden;
}

td {
    margin-left: 1%;
    min-width: 30px;
    max-width: 30px;
    overflow: hidden;
}

.tutorial-tooltip {
    text-align: center;
    font-size: 100%;
    width: 200px;
    background-color: rgba(20, 109, 129, 0.6);
}