<div fxLayout="column" id="addComponent">
    <div fxFlex>
        <div *ngIf="!onUpdateTutorialMode" class="pageTitle">
            Add tutorial
        </div>
        <div *ngIf="onUpdateTutorialMode" class="pageTitle">
            <p>Update tutorial</p>
            <mat-chip *ngIf="tutorial.draft" [ngStyle]="{ backgroundColor: '#71ABFF'}" selected="true">Draft
            </mat-chip>
        </div>
    </div>
    <div *ngIf="onUpdateTutorialMode" class="pageTitle">
      <p>Update tutorial</p>
      <mat-chip *ngIf="tutorial.draft"
                [ngStyle]="{ backgroundColor: '#71ABFF'}"
                selected="true">Draft
      </mat-chip>

    </div>
    <p>
      <button
        style="margin-left:45%; margin-top: 4%"
        mat-raised-button
        color="primary"
        (click)="addNewEmptyMaterial()">Add material
      </button>
    </p>
  </div>

    <div fxFlex="80" fxFlexOffset="5" fxLayout="row" fxLayoutAlign="stretch">
        <div fxFlex="35" fxFlexOffset="5" fxLayoutAlign=" stretch">

  <div fxFlex="70" fxLayout="row" fxLayoutAlign="stretch">
    <div fxFlex="35" fxFlexOffset="5" fxLayoutAlign=" stretch">
            <div fxFlex="row">
                <div fxFlex fxLayout="row">
                    <label fxFlex>Tutorial title</label>
                    <input fxFlex class="form-control" type="text" id="tutorialTtile" name="Tutorial title" [(ngModel)]="tutorial.titleTutorial" />
                </div>

                <div fxFlex="" fxLayout="row" class="tutorialRow">
                    <label fxFlex>Contact persons</label>
                    <ng-multiselect-dropdown style="width: 53%;" [placeholder]="'choose one or more contact persons'" [data]="allUsers" [(ngModel)]="selectedUsers" [settings]="dropdownSettings"></ng-multiselect-dropdown>
                </div>

                <div fxFlex fxLayout="row" class="tutorialRow">
                    <label fxFlex>Overview</label>
                    <textarea fxFlex class="form-control" id="tutorialOverview" name="Overview" rows="14" [(ngModel)]="tutorial.overview"></textarea>
                </div>

                <div fxFlex="" fxLayout="row" class="tutorialRow">
                    <label fxFlex>Keywords </label>
                    <mat-form-field fxFlex class="keyword-list">
                        <mat-chip-list #chipList>
                            <mat-chip *ngFor="let keyword of keywords" [selectable]="true" [removable]="true" (remove)="removeKeyword(keyword)">
                                {{keyword}}
                                <mat-icon matChipRemove *ngIf="true"><i class="fa fa-times" aria-hidden="true"></i></mat-icon>
                            </mat-chip>
                            <input [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="true" (matChipInputTokenEnd)="addKeyword($event)" />
                        </mat-chip-list>
                    </mat-form-field>
                </div>
            </div>
        </div>

        <div fxFlex="" fxFlexOffset="5" id="materialTable">
            <button mat-raised-button color="primary" (click)="addNewEmptyMaterial()">Add material</button>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Action</th>
                        <th scope="col">Title</th>
                        <th scope="col">Type</th>
                        <th scope="col">LINK/FILE</th>
                        <th></th>
                    </tr>
                </thead>

                <tbody *ngIf="materialsForCurrentTutorial.length===0">
                    <tr>
                        <td colspan="4" style="text-align: center">No materials for this tutorial </td>
                    </tr>
                </tbody>

                <tbody *ngFor="let material of materialsForCurrentTutorial;let position= index">
                    <tr>
                        <th scope="row" align="center">{{position+1}}</th>
                        <th align="center">
                            <mat-icon *ngIf="materialType[material.materialType]===materialType['LINK']" matSuffix (click)="openURL(material.link)">
                                visibility
                            </mat-icon>
                            <mat-icon *ngIf="materialType[material.materialType]===materialType['FILE'] && !material.idTutorialMaterial" matSuffix (click)="openFile(position)">
                                save_alt
                            </mat-icon>

                            <mat-icon *ngIf="materialType[material.materialType]===materialType['FILE'] && material.idTutorialMaterial" matSuffix (click)="getFileWithId(material.idTutorialMaterial)">
                                save_alt
                            </mat-icon>
                            <mat-icon matSuffix (click)="removeMaterialFromUI(position)">delete</mat-icon>
                        </th>

                        <td>
                            <mat-form-field>
                                <input matInput *ngIf="!material.idTutorialMaterial" type="text" placeholder="Title" [(ngModel)]="material.title" name="title" autofocus>
                                <input matInput *ngIf="material.idTutorialMaterial" type="text" placeholder="Title" [(ngModel)]="material.title" name="title" readonly>
                            </mat-form-field>
                        </td>

                        <td>
                            <mat-form-field>
                                <mat-select placeholder="Material type" [(value)]="material.materialType" *ngIf="!material.idTutorialMaterial">
                                    <mat-option value="LINK" id="valueLink">Link</mat-option>
                                    <mat-option value="FILE" id="valueFile">File</mat-option>
                                </mat-select>

        <tbody *ngFor="let material of materialsForCurrentTutorial;let position= index">
        <tr>
          <th scope="row" align="center">{{position+1}}</th>
          <th align="center">
            <mat-icon *ngIf="materialType[material.materialType]===materialType['LINK']" matSuffix
                      (click)="openURL(material.link)">
              visibility
            </mat-icon>
            <mat-icon *ngIf="materialType[material.materialType]===materialType['FILE'] && !material.idTutorialMaterial"
                      matSuffix
                      (click)="openFile(position)">
              save_alt
            </mat-icon>

                                <mat-select placeholder="Material type" [(value)]="material.materialType" *ngIf="material.idTutorialMaterial" disabled>
                                    <mat-option value="LINK">Link</mat-option>
                                    <mat-option value="FILE">File</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </td>

                        <td *ngIf="materialType[material.materialType]===materialType['LINK'] && !material.idTutorialMaterial">
                            <form>
                                <mat-form-field>
                                    <input matInput placeholder="Link" [(ngModel)]="material.link" name="link">
                                </mat-form-field>
                            </form>
                        </td>
                        <td *ngIf="materialType[material.materialType]===materialType['FILE'] ">
                            <form>
                                <input *ngIf="!material.idTutorialMaterial" type="file" name="materialFile" id={{position}} accept="application/pdf" />
                            </form>
                        </td>


                    </tr>


                </tbody>
            </table>
        </div>

    </div>

    <div fxFlex fxLayout="row">

        <div fxFlex fxFlexOffset="75" id="buttons">
            <!--<button type="button" class="btn btn-default" data-dismiss="modal">-->

    <div fxFlex fxFlexOffset="75" id="buttons">
      <!--<button type="button" class="btn btn-default" data-dismiss="modal">-->

            <button mat-raised-button color="basic" (click)="goBack()">
        <mat-icon>cancel</mat-icon>
        Cancel
      </button>

            <button mat-raised-button color="primary" (click)="saveAsDraft()">
        <mat-icon>insert_drive_file</mat-icon>
        Save as draft
      </button>
            <button mat-raised-button color="primary" *ngIf="!onUpdateTutorialMode" (click)="addTutorial()">
        <mat-icon>save</mat-icon>
        Save
      </button>
            <button mat-raised-button color="primary" *ngIf="onUpdateTutorialMode && !tutorial.draft" (click)="updateTutorial()">
        <mat-icon>save</mat-icon>
        Save
      </button>
            <button mat-raised-button color="primary" *ngIf="onUpdateTutorialMode && tutorial.draft" (click)="publishDraft()">
        <mat-icon>save</mat-icon>
        Publish
      </button>


        </div>
    </div>

</div>