<mat-form-field class="formField">
  <input matInput placeholder="Team" [(ngModel)]="user.team">
</mat-form-field>

<mat-form-field class="formField">
  <mat-select placeholder="Location" [(ngModel)]="user.location.locationName"
              (selectionChange)="selectLocationValue($event)">
    <mat-option *ngFor="let location of locations" [value]="location">
      {{location}}
    </mat-option>
  </mat-select>
</mat-form-field>


<mat-form-field class="formField">
  <input matInput placeholder="Floor" [(ngModel)]="user.floor">
</mat-form-field>

<mat-form-field class="formField">
  <input matInput placeholder="Project" [(ngModel)]="user.project">
</mat-form-field>

<mat-form-field class="formField">
  <mat-select placeholder="Department" [(ngModel)]="user.department" (selectionChange)="selectValue($event)">
    <mat-option *ngFor="let departmentValue of departments" [value]="departmentValue">
      {{departmentValue.departmentName}}
    </mat-option>
  </mat-select>
</mat-form-field>


<mat-form-field class="formField">
  <input [(ngModel)]="user.startDate" matInput [min]="today" [matDatepicker]="picker" placeholder="Choose a date"
         [ngModelOptions]="{standalone: true}"
         [value]="getDate()" required/>
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>

<mat-form-field class="formField">
  <input matInput #searchBox (keyup)="search(searchBox.value)" placeholder="Choose a mate"
         [value]="getUserMate()"/>
  <ul class="search-result" *ngIf="show">
    <li *ngFor="let buddy of users$ | async" (click)="user.mate=buddy;show = false">
      <span>{{buddy.name}}</span>
    </li>
  </ul>
</mat-form-field>

<!--</mat-form-field>-->

<!--<div>-->
<!--<label for="Team">Team</label>-->
<!--<input #Team type="text" [(ngModel)]="user.team" [ngModelOptions]="{standalone: true}" placeholder="Team" class="form-control" id="Team" [value]="user.team" />-->
<!--</div>-->
<!--<div>-->
<!--<label for="Building">Location</label>-->
<!--<mat-select placeholder="Select location" [(ngModel)]="user.location.locationName" (selectionChange)="selectLocationValue($event)">-->
<!--<mat-option *ngFor="let location of locations" [value]="location">-->
<!--{{location}}-->
<!--</mat-option>-->
<!--</mat-select>-->
<!--</div>-->
<!--<div>-->
<!--<label for="Floor">Floor</label>-->
<!--<input #Store type="text" [(ngModel)]="user.floor" [ngModelOptions]="{standalone: true}" placeholder="Floor" class="form-control" id="Floor" [value]="user.floor" />-->
<!--</div>-->
<!--<div>-->
<!--<label for="Project">Project</label>-->
<!--<input #Project type="text" [(ngModel)]="user.project" [ngModelOptions]="{standalone: true}" placeholder="Project" class="form-control" id="Project" [value]="user.project" />-->
<!--</div>-->
<!--<div>-->

<!--<label>Department</label>-->
<!--<mat-select placeholder="Select department" [(ngModel)]="user.department" (selectionChange)="selectValue($event)">-->
<!--<mat-option *ngFor="let departmentValue of departments" [value]="departmentValue">-->
<!--{{departmentValue.departmentName}}-->
<!--</mat-option>-->
<!--</mat-select>-->
<!--</div>-->
<!--<div id="search-component">-->
<!--<label for="search-box">Mate </label>-->
<!--<input #searchBox id="search-box" (keyup)="search(searchBox.value)" class="form-control" placeholder="Type in here" [value]="getUserMate()" />-->
<!--<ul class="search-result" *ngIf="show">-->
<!--<li *ngFor="let buddy of users$ | async" (click)="user.mate=buddy;show = false">-->
<!--<span>{{buddy.name}}</span>-->
<!--</li>-->
<!--</ul>-->
<!--</div>-->
<!--<div>-->
<!--<input [(ngModel)]="user.startDate" matInput [min]="today" [matDatepicker]="picker" placeholder="Choose a date" [value]="getDate()" required/>-->
<!--<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>-->
<!--<label class="hint-text">*must be specified</label>-->
<!--<mat-datepicker #picker></mat-datepicker>-->
<!--</div>-->
