<div id="bigDiv">

  <div id="addComponent" [ngSwitch]="getCurrentStep()">
    <div *ngSwitchCase="'one'" class="stepDiv">
      <div class="pageTitle"> Add course</div>
      <hr class="separator">

      <table id="courseTable" cellspacing="50">
        <tr>
          <td>
            <label>Course title</label>
          </td>
          <td>
            <input type="text" id="courseTile" name="Course title" [(ngModel)]="course.titleCourse"/>
          </td>
        </tr>
        <tr>
          <td>
            <label>Overview</label>
          </td>
          <td>
            <textarea id="courseOverview" name="Overview" [(ngModel)]="course.overview"></textarea>
          </td>
        </tr>


        <tr>
          <td><label>Contact persons</label></td>
          <td>
            <ss-multiselect-dropdown [options]="usersOptions" [(ngModel)]="contactPersonsIds"></ss-multiselect-dropdown>
          </td>
        </tr>

        <tr>
          <td><label>Owners</label></td>
          <td>
            <ss-multiselect-dropdown [options]="usersOptions" [(ngModel)]="ownersIds"></ss-multiselect-dropdown>
          </td>


        </tr>
      </table>

      <button (click)="addCourse()" class="nextStepButton" *ngIf="saved===false">Save</button>
    </div>


    <div *ngSwitchCase="'two'" class="stepDiv">
      <div class="pageTitle"> Subjects for this course</div>
      <hr class="separator">


      <i class="fa fa-plus-circle fa-3x" aria-hidden="true" title="Add subject" data-toggle="modal" id="addSubjectIcon"
         data-target="#subjectModal" (click)="newSubject()"></i>

      <div id="addedSubjects">
        <ul *ngFor="let sub of subjects;let i= index">

          <table class="displaySubject">
            <span class="badge  progress-bar-success progress-bar-striped"
                  style="font-size: 18px; margin-left: 3px; margin-top: 2px">{{i+1}}</span>

            <tr>
              <td>
                <label>Name : </label>
              </td>
              <td style="font-weight: normal">
                {{sub.name}}
              </td>
            </tr>

            <tr>
              <td>
                <label> Number of days: </label>
              </td>
              <td style="font-weight: normal">
                {{sub.numberOfDays}}
              </td>
            </tr>
            <tr>
              <td>
                <label>Description: </label>
              </td>
              <td style="font-weight: normal">
                {{sub.description.substring(0,100)}} ...
              </td>
            </tr>
            <tr>
              <td>
                <span class="input-group-addon" style="width: 135px; display: inline"><b>Materials</b></span>
                <i class="fa fa-plus-circle fa-1x" aria-hidden="true" title="Add material"
                   style="width: 300px; margin-left: 25px; display: inline" data-toggle="modal" data-target="#materialModal"
                ></i>
              </td>
              <td style="float: right" (click)="getSubjectById(i)" data-toggle="modal" data-target="#subjectModal"><a>Click
                here for more details</a></td>
            </tr>
          </table>
        </ul>
        <div *ngIf="subjects.length===0" id="noSubjectsMsg">
          No subjects
        </div>

      </div>

      <div class="modal fade" id="subjectModal" role="dialog" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">

            <div class="modal-body">
              <div class="modalTitle"> Add subjects for course</div>
              <hr class="separator">

              <form>
                <div class="container" style="margin-left: 50px; margin-top: 50px">

                  <div class="row">
                    <div class="input-group">
                      <span class="input-group-addon" style="width: 135px"><b>Subject name</b></span>
                      <input type="text" style="width: 300px" name="name" [(ngModel)]="subject.name" required>
                    </div>
                  </div>

                  <div class="row">
                    <div class="input-group">
                      <span class="input-group-addon" style="width: 135px"><b>Description</b></span>
                      <textarea class="form-control" rows="10" style="width: 300px" name="description"
                                [(ngModel)]="subject.description"
                                required> </textarea>
                    </div>
                  </div>

                  <div class="row">
                    <div class="input-group">
                      <span class="input-group-addon" style="width: 135px"><b>Number of days</b></span>
                      <input type="number" class="form-control" value="1" step="1" min="1" max="300"
                             style="width: 300px" name="numberOfDays" [(ngModel)]="subject.numberOfDays" required>
                    </div>
                  </div>

                  <div class="row">
                    <div class="input-group">
                      <!--<span class="input-group-addon" style="width: 135px"><b>Materials</b></span>-->
                      <!--<i class="fa fa-plus-circle fa-2x" aria-hidden="true" title="Add material"-->
                      <!--style="width: 300px; margin-left: 25px" data-toggle="modal" data-target="#materialModal"-->
                      <!--&gt;</i>-->
                    </div>
                  </div>

                  <div id="materialsDiv">

                    <div class="container-fluid" style="position: relative">
                      <div class="row" style="position: fixed; width: 74%">
                        <span class="input-group-addon "><b>Title</b></span>
                        <span class="input-group-addon"><b>Material type</b></span>
                        <span class="input-group-addon"><b>Material</b></span>
                      </div>
                      <br><br>

                      <div class="row"
                           *ngFor="let  material of materialsForCurrentSubject; let i=index"
                           title="Description: {{material.description}}" style="margin-bottom: 10px">
                        <div></div>
                        <div class="col-md-3" style="margin-right: 25px">{{material.title.substring(0,50)}}</div>
                        <div class="col-md-4" style="margin-right: 30px">{{material.materialType}}</div>

                        <div class="col-md-3">
                          <a *ngIf="material.materialType === 'LINK'" href="{{material.link.substring(0,50)}}"
                             target="_blank">
                            {{material.title}}</a>
                          <a *ngIf="material.materialType === 'FILE'" class="glyphicon glyphicon-download"
                             title="Download source" download="name.txt"
                             (click)="downloadFile(material.idMaterial)"> </a>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-default" (click)="addSubject()" data-dismiss="modal"
                      *ngIf="onViewSubject==false"><i
                class="glyphicon glyphicon-floppy-disk"></i>Save
              </button>
              <button type="button" class="btn btn-default" data-dismiss="modal" (click)="closeSubjectModal()"><i
                class="glyphicon glyphicon-remove"></i>Close
              </button>
            </div>
          </div>

        </div>
      </div>


      <div class="modal fade" id="materialModal" role="dialog" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-lg">

          <div class="modal-content">
            <div class="modal-body">

              <div class="modalTitle"> Add material for subject</div>
              <hr class="separator">
              <div class="alert-danger" *ngIf="materialErrorMessage.length>0">
                 {{materialErrorMessage}}
              </div>
              <form #form enctype="multipart/form-data" id="addMaterialForm"
                    class="form-horizontal" role="form">

                <table id="materialTable">
                  <tr>
                    <td>Title</td>
                    <td><input type="text" id="title" [(ngModel)]="material.title" name="title"/></td>
                  </tr>

                  <tr>
                    <td>Description</td>
                    <td><textarea id="description" [(ngModel)]="material.description" name="description"></textarea>
                    </td>
                  </tr>


                  <tr>
                    <td>Material type</td>
                    <td>
                      <select (change)="printMaterialType()" id="selectedMaterialType"
                              [(ngModel)]="material.materialType"
                              name="materialType">
                        <option value="LINK" id="valueLink">Link</option>
                        <option value="FILE" id="valueFile">File</option>
                      </select>
                    </td>
                  </tr>

                  <br> <br>

                  <tr id="addLink" style="visibility: hidden">
                    <td>Link</td>
                    <td><input type="text" id="link" [(ngModel)]="material.link" name="link"/></td>
                  </tr>

                  <tr id="addFile" style="visibility: hidden">
                    <input type="file" name="materialFile" id="file" [(ngModel)]="file" name=file value=""
                           accept="application/pdf"/>
                  </tr>
                </table>
                <br> <br> <br>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" (click)="addMaterial()" ><i
                class="glyphicon glyphicon-floppy-disk"></i>Save
              </button>
              <button type="button" class="btn btn-default" data-dismiss="modal"><i
                class="glyphicon glyphicon-remove"></i>Close
              </button>
            </div>
          </div>

        </div>
      </div>
      <button (click)="incStep()" class="nextStepButton">Next</button>

    </div>


    <div *ngSwitchCase="'three'" class="stepDiv">
      <div id="addCourseMessage">
        Course added!
      </div>
      <div id="backToCourses">
        <a href="{{rootConst.FRONT_REDIRECT_LOGIN_SUCCESS_URL }}" style="color: white;">Back to courses!</a>

      </div>

    </div>
  </div>

</div>
