<div id="bigDiv">

  <div id="addComponent" [ngSwitch]="getCurrentStep()">
    <div *ngSwitchCase="'one'" class="stepDiv">
      <div class="pageTitle"> Add course</div>
      <hr class="separator">
      <table id="courseTable">
        <tr>
          <td>
            <label>Course title</label>
          </td>
          <td>
            <input type="text" id="courseTile" name="Course title" [(ngModel)]="course.titleCourse"/>
          </td>
        </tr>
        <tr>
          <td>
            <label>Overview</label>
          </td>
          <td>
            <textarea id="courseOverview" [(ngModel)]="course.overview"></textarea>
          </td>
        </tr>
      </table>
      <button (click)="incStep()" class="nextStepButton">Save</button>
    </div>


    <div *ngSwitchCase="'two'" class="stepDiv">
      <div class="pageTitle"> Materials</div>
      <hr class="separator">
      <div id="materialTableContainer">

        <table id="materials">
          <thead>
          <tr>
            <td></td>
            <th>Title</th>
            <th>Description</th>
            <th>-</th>
          </tr>
          </thead>


          <tbody>
          <tr *ngFor="let  material of materialsUploadedByThisUser">
            <td><input type="checkbox" (click)="addMaterialToSelectedList(material)"/></td>
            <td>{{material.title}}</td>
            <td> {{material.description}}</td>
            <td *ngIf="material.materialType === 'LINK'">
              <a href="{{material.link}}" target="_blank"> {{material.title}}</a>
            </td>
            <td *ngIf="material.materialType === 'FILE'">
              <a class="glyphicon glyphicon-download" title="Download source" download="name.txt"
                 (click)="downloadFile(material.idMaterial, material.title)"> </a>
            </td>
          </tr>
          </tbody>
        </table>
      </div>


      <div class="modal fade" id="materialModal" role="dialog">
        <div class="modal-dialog modal-lg">

          <div class="modal-content">
            <div class="modal-body">
              <form #form enctype="multipart/form-data" (ngSubmit)="createMaterial(form)" id="addMaterialForm"
                    class="form-horizontal" role="form">
                <table id="materialTable">
                  <tr>
                    <td>Title</td>
                    <td><input type="text" id="title" [(ngModel)]="material.title" name="title"/></td>
                  </tr>

                  <tr>
                    <td>Description</td>
                    <td><textarea id="description" [(ngModel)]="material.description" name="description"></textarea>
                    </td>
                  </tr>


                  <tr>
                    <td>Material type</td>
                    <td>
                      <select (change)="printMaterialType()" id="selectedMaterialType"
                              [(ngModel)]="material.materialType"
                              name="materialType">
                        <option value="LINK" id="valueLink">Link</option>
                        <option value="FILE" id="valueFile">File</option>
                      </select>
                    </td>
                  </tr>

                  <br> <br>

                  <tr id="addLink">
                    <td>Link</td>
                    <td><input type="text" id="link" [(ngModel)]="material.link" name="link"/></td>
                  </tr>

                  <tr id="addFile" style="visibility: hidden">
                    <input type="file" name="materialFile" id="file" [(ngModel)]="file" name=file value=""/>
                  </tr>
                </table>
                <br> <br> <br>
                <!--<input type="submit" value="Save"/>-->
                <input type="button" (click)="addMaterial()"/>

              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-floppy-disk"></i>Save</button>
              <button type="button" class="btn btn-default" data-dismiss="modal"><i
                class="glyphicon glyphicon-remove"></i>Close
              </button>
            </div>
          </div>

        </div>
      </div>

      <button (click)="decStep()" class="prevStepButton">Previous</button>
      <button (click)="incStep()" class="nextStepButton">Next</button>

      <i class="fa fa-plus-square" id="openModalIcon" title="Add new material"
         data-toggle="modal" data-target="#materialModal"></i>

    </div>


    <div *ngSwitchCase="'three'" class="stepDiv">
      <div class="pageTitle"> Add subjects for course</div>
      <hr class="separator">

      <!--<div class="modal fade" id="materialModal" role="dialog">-->
      <!--<div class="modal-dialog modal-lg">-->

      <!--<div class="modal-content">-->
      <!--<div class="modal-body">-->
      <!--<form #form enctype="multipart/form-data" (ngSubmit)="createMaterial(form)" id="addMaterialForm"-->
      <!--class="form-horizontal" role="form">-->
      <!--&lt;!&ndash;<table id="materialTable">&ndash;&gt;-->
      <!--&lt;!&ndash;<tr>&ndash;&gt;-->
      <!--&lt;!&ndash;<td>Title</td>&ndash;&gt;-->
      <!--&lt;!&ndash;<td><input type="text" id="title" [(ngModel)]="material.title" name="title"/></td>&ndash;&gt;-->
      <!--&lt;!&ndash;</tr>&ndash;&gt;-->

      <!--&lt;!&ndash;<tr>&ndash;&gt;-->
      <!--&lt;!&ndash;<td>Description</td>&ndash;&gt;-->
      <!--&lt;!&ndash;<td><textarea id="description" [(ngModel)]="material.description" name="description"></textarea>&ndash;&gt;-->
      <!--&lt;!&ndash;</td>&ndash;&gt;-->
      <!--&lt;!&ndash;</tr>&ndash;&gt;-->


      <!--&lt;!&ndash;<tr>&ndash;&gt;-->
      <!--&lt;!&ndash;<td>Material type</td>&ndash;&gt;-->
      <!--&lt;!&ndash;<td>&ndash;&gt;-->
      <!--&lt;!&ndash;<select (change)="printMaterialType()" id="selectedMaterialType"&ndash;&gt;-->
      <!--&lt;!&ndash;[(ngModel)]="material.materialType"&ndash;&gt;-->
      <!--&lt;!&ndash;name="materialType">&ndash;&gt;-->
      <!--&lt;!&ndash;<option value="LINK" id="valueLink">Link</option>&ndash;&gt;-->
      <!--&lt;!&ndash;<option value="FILE" id="valueFile">File</option>&ndash;&gt;-->
      <!--&lt;!&ndash;</select>&ndash;&gt;-->
      <!--&lt;!&ndash;</td>&ndash;&gt;-->
      <!--&lt;!&ndash;</tr>&ndash;&gt;-->

      <!--&lt;!&ndash;<br> <br>&ndash;&gt;-->

      <!--&lt;!&ndash;<tr id="addLink">&ndash;&gt;-->
      <!--&lt;!&ndash;<td>Link</td>&ndash;&gt;-->
      <!--&lt;!&ndash;<td><input type="text" id="link" [(ngModel)]="material.link" name="link"/></td>&ndash;&gt;-->
      <!--&lt;!&ndash;</tr>&ndash;&gt;-->

      <!--&lt;!&ndash;<tr id="addFile" style="visibility: hidden">&ndash;&gt;-->
      <!--&lt;!&ndash;<input type="file" name="materialFile" id="file" [(ngModel)]="file" name=file value=""/>&ndash;&gt;-->
      <!--&lt;!&ndash;</tr>&ndash;&gt;-->
      <!--&lt;!&ndash;</table>&ndash;&gt;-->
      <!--<br> <br> <br>-->
      <!--&lt;!&ndash;<input type="submit" value="Save"/>&ndash;&gt;-->
      <!--<input type="button" (click)="addMaterial()"/>-->

      <!--</form>-->
      <!--</div>-->
      <!--<div class="modal-footer">-->
      <!--<button type="button" class="btn btn-default"><i class="glyphicon glyphicon-floppy-disk"></i>Save</button>-->
      <!--<button type="button" class="btn btn-default" data-dismiss="modal"><i-->
      <!--class="glyphicon glyphicon-remove"></i>Close-->
      <!--</button>-->
      <!--</div>-->
      <!--</div>-->

      <!--</div>-->
      <!--</div>-->
      <button (click)="decStep()" class="prevStepButton">Previous</button>

    </div>
  </div>


</div>
