<h2 mat-dialog-title>Change password</h2>
<mat-dialog-content>
    <form class="example-form">
        <table class="table">
            <tr>
                <td><label>Username</label></td>
                <td>
                    <mat-form-field>
                        <input matInput value="{{username}}" readonly>
                    </mat-form-field>
                </td>
            </tr>

            <tr>
                <td><label>New Password </label></td>
                <td>
                    <mat-form-field>
                        <input #pass matInput type="password" />
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td><label>Repeat New Password </label>
                </td>
                <td>
                    <mat-form-field>
                        <input #passII matInput type="password" />
                    </mat-form-field>
                </td>
            </tr>

        </table>

        <button class="btn btn-info" (click)="updateUser(pass.value,passII.value)" style="background:#841439; border:none">
      <span class="glyphicon  glyphicon-edit"></span> Save
    </button>
    </form>
</mat-dialog-content>