<h2 mat-dialog-title>New Employees</h2>

<mat-dialog-content>
    <mat-form-field style="float: right;">
        <input matInput type="search" placeholder="Search by name" (input)="searchByName()" [(ngModel)]="searchValue">
        <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
</mat-dialog-content>

<mat-dialog-content style="height:550px; overflow: initial">
    <mat-card *ngFor="let user of newEmployees">
        <div *ngIf="mailSentValueForUsers.get(user.idUser)">
            <i class="material-icons" style="padding: 10px" matTooltip="Mail is sent to user"  matTooltipPosition="below" matTooltipClass="tool-tip-class">done</i>
          {{user.name}}
          <br/>
            <i class="material-icons" style="padding: 10px">
        calendar_today
      </i> Start date: {{user.startDateString}}
          <br/>
        </div>
        <br/>
        <div *ngIf="!mailSentValueForUsers.get(user.idUser)">
            <i class="material-icons" *ngIf="!mailSentValueForUsers.get(user.idUser)" style="padding: 10px" matTooltip="Mail is not sent to user" matTooltipPosition="below" matTooltipClass="tool-tip-class">error_outline</i>
          {{user.name}}
          <br/>
            <i class="material-icons" style="padding: 10px">
        calendar_today
      </i> Start date: {{user.startDateString}}
          <br/>

            <button mat-button color="warn" (click)="openUserInfoModal(user)">User data or checklist is not complete</button>
        </div>
        <br/>
        <button mat-raised-button (click)="openCheckList(user)" title="Check list for user">
          Open check list for {{user.name}}
        </button>
    </mat-card>
    <br>
</mat-dialog-content>
