.employee-tooltip {
    text-align: center;
    font-size: 100%;
    width: 200px;
    overflow: auto;
    background-color: rgba(20, 109, 129, 0.6);
}

.wide-employee-tooltip {
    text-align: center;
    font-size: 100%;
    width: 400px;
    overflow: auto;
    background-color: rgba(20, 109, 129, 0.6);
}