<h2 mat-dialog-title>{{dialogTitle}}</h2>
<mat-dialog-content style="height:550px">


  <table class="table">
    <tr>
      <td> Inventory items were handed
      </td>
      <td>
        <mat-checkbox [checked]="leaveCheckList.inventoryObjects" [(ngModel)]="leaveCheckList.inventoryObjects" color="primary">
        </mat-checkbox>
      </td>
    </tr>

    <tr>
      <td> Resignation form was handed
      </td>
      <td>
        <mat-checkbox [checked]="leaveCheckList.resignationForm" [(ngModel)]="leaveCheckList.resignationForm"  color="primary">
        </mat-checkbox>
      </td>
    </tr>

    <tr>
      <td> All cards were handed
      </td>
      <td>
        <mat-checkbox [checked]="leaveCheckList.cards" [(ngModel)]="leaveCheckList.cards"  color="primary">
        </mat-checkbox>
      </td>
    </tr>


  </table>
  <mat-card-actions>
    <button mat-raised-button (click)="saveStatus()" color="primary" title="Update check list for user" [mat-dialog-close]>Save</button>
    <button mat-raised-button [mat-dialog-close]  title="Close window">Close</button>
  </mat-card-actions>
</mat-dialog-content>
