<div class>
    <label for="Team">Team</label>
    <input #Team type="text" [(ngModel)]="userInformation.team" [ngModelOptions]="{standalone: true}" placeholder="Team" class="form-control" id="Team" />
</div>
<div>
    <label for="Building">Building</label>
    <input #Building type="text" [(ngModel)]="userInformation.building" [ngModelOptions]="{standalone: true}" placeholder="Building" class="form-control" id="Building" />
</div>
<div>
    <label for="Floor">Floor</label>
    <input #Store type="text" [(ngModel)]="userInformation.store" [ngModelOptions]="{standalone: true}" placeholder="Floor" class="form-control" id="Floor" />
</div>

<div class="form-group">
    <label>Department</label>
    <mat-select placeholder="Select department" (selectionChange)="selectValue($event)">
        <mat-option *ngFor="let departmentValue of departments" [value]="departmentValue">
            {{departmentType[departmentValue]}}
        </mat-option>
    </mat-select>
</div>

<div id="search-component">
    <label for="search-box">Buddy </label>
    <input #searchBox id="search-box" (keyup)="search(searchBox.value)" class="form-control" placeholder="Type in here" value={{userInformation.buddyUser.name}}/>
    <ul class="search-result" *ngIf="show">
        <li *ngFor="let buddy of users$ | async" (click)="userInformation.buddyUser=buddy;show = false">
            <span>{{buddy.name}}</span>
        </li>
    </ul>
</div>

<div>
    <input [(ngModel)]="userInformation.startDate" matInput [matDatepicker]="picker" placeholder="Choose a date">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <br>
    <label class="hint-text">leave empty if the starting date is unknown</label>
    <mat-datepicker #picker></mat-datepicker>
</div>